
---
openapi: "3.0.0"
info:  # (MANDATORY)
    title: "SYNAP API"
    version: "0.0.1"  # major.minor.patch
    description: "SYNAP's API specification"
    contact:
        name: "Cranium Ventures Pte Ltd"
        url:  "https://www.craniumventures.com"
        email: "info@craniumventures.com"
servers:
    -
        url: "https://sandbox01.craniumventures.com/synap/dev"
        description: "Sandbox Environment"
components:
    schemas:
        CursorRecordCountOnRequest:
            type: "object"
            properties:
                creation:
                    description: "should a cursor be created?"
                    type: "string"
                    enum:
                        - always
                        - auto
                        - never
                recordOffset:
                    description: "offset of the record to retrieve"
                    type: "integer"
                    format: "int32"
                    minimum: 0
                    example: 0
                recordCount:
                    description: "number of records to be retrieved"
                    type: "integer"
                    format: "int32"
                    minimum: 1
                    example: 1
            required:
                - recordOffset
        CursorIdentifier:
            description: "identifier used to uniquely identify a cursor created by the system"
            type: "string"
            minLength: 1
            example: "<cursor_identifier>"
        CursorOnRequest:
            allOf:
                - type: "object"
                  properties:
                    identifier:
                        $ref: "#/components/schemas/CursorIdentifier"
                  required:
                    - identifier
                - $ref: "#/components/schemas/CursorRecordCountOnRequest"
        CursorOnResponse:
            type: "object"
            properties:
                identifier:
                        $ref: "#/components/schemas/CursorIdentifier"
                totalRecords:
                    description: "total number of records a cursor holds"
                    type: "number"
                    example: 10
            required:
                - identifier
                - totalRecords
        CursorRecordIdentifierOnResponse:
            type: "object"
            properties:
                recordIdentifier:
                    description: "record's identifier of a given cursor's context"
                    type: "string"
        RecordStatus:
            type: "object"
            properties:
                recordStatus:
                    description: "The current status/state of a record"
                    type: "string"
                    enum:
                        - active
                        - inactive
                        - suspense
                        - pendingApproval
                        - disable
                        - locked
                        - deleted
                        - noPassword
                    example: "active"
        CreateDateTime:
            type: "object"
            properties:
                createDateTime:
                    description: "date & time of create record"
                    type: "string"
                    format: "date-time"
        RecordDateTime:
            type: "object"
            properties:
                recordDateTime:
                    description: "date & time of update record"
                    type: "string"
                    format: "date-time"
        EntityIdentifier:
            type: "object"
            properties:
                identifier:
                    description: "unique identity of an entity in a given scope"
                    type: "string"
                    minLength: 1
                    example: "<identifier_of_an_entity>"
            required:
                - identifier
        MerchantIdentifier:
            type: "object"
            properties:
                identifier:
                    description: "merchant's unique identity"
                    type: "string"
                    minLength: 1
                    example: "110000000000053"
            required:
                - identifier
        BusinessPersonName:
            type: "object"
            properties:
                name:
                    description: "The name of a person or business"
                    type: "string"
                    example: "John Smith"
        MailingAddressType:
            type: "object"
            properties:
                type:
                    description: "the type of mailing address"
                    type: "string"
                    enum:
                        - "correspondence"
                        - "billing"
                        - "shipping"
            required:
                - type
        MailingAddress:
            type: "object"
            properties:
                countryCode:
                    description: "country code of mailing address"
                    $ref: "#/components/schemas/CountryCode"
                addressLine1:
                    description: "first line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "unit# and building name"
                addressLine2:
                    description: "second line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "street name"
                addressLine3:
                    description: "third line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "name of town or village"
                city:
                    description: "city name of mailing address"
                    type: "string"
                    minLength: 1
                    example: "Middle City"
                provinceState:
                    description: "province or state of mailing address"
                    type: "string"
                    minLength: 1
                    example: "Big State"
                postalCode:
                    description: "postal code of mailing address"
                    type: "string"
                    minLength: 1
                    example: "123456"
        ContactAddress:
            type: "object"
            properties:
                address:
                    description: "the plain text address for this contact; it will be empty if the actor is not the target user; this element holds the address which has been parsed by the system"
                    type: "string"
        EmailAddressAttribute:
            description: "The plain text email address"
            type: "string"
            format: "email"
            example: "john.smith@example.com"
        EmailAddress:
            type: "object"
            properties:
                emailAddress:
                    $ref: "#/components/schemas/EmailAddressAttribute"
        CCEmailAddress:
            type: "object"
            properties:
                ccEmailAddress:
                    $ref: "#/components/schemas/EmailAddressAttribute"
        PhoneNumberAttribute:
            description: "The plain text of formatted phone number"
            type: "string"
            example: "+1 (555) 555-1234"
        PhoneNumber:
            type: "object"
            properties:
                phoneNumber:
                    $ref: "#/components/schemas/PhoneNumberAttribute"
        MobileNumber:
            type: "object"
            properties:
                mobileNumber:
                    $ref: "#/components/schemas/PhoneNumberAttribute"
        UserContactType:
            type: "object"
            properties:
                type:
                    description: "The type of a contact"
                    type: "string"
                    enum:
                        - "email"
                        - "mobile"
                        - "landline"
                        - "url"
        UserContact:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/ContactAddress"
                - type: "object"
                  properties:
                    class:
                        type: "number"
                        description: "the contact class"
                    identifier:
                        type: "string"
                        description: "a system generated key which can be used to retrieve this contact record"
                    maskedAddress:
                        type: "string"
                        description: "the contact address masked for security purposes; an application must only display the masked address even if a plain text address is present in the response"
                    originalAddress:
                        type: "string"
                        description: "the plain text address for this contact; it will be empty if the actor is not the target user; this element holds the address string as entered by the user when the record was created or updated"
                    flags:
                        $ref: "#/components/schemas/UserContactFlags"
        UserContactFlags:
            type: "object"
            properties:
                verified:
                    type: "boolean"
                    description: "the record has been verified"
                primary:
                    type: "boolean"
                    description: "this is a primary address"
                default:
                    type: "boolean"
                    description: "this is a default address"
                phone:
                    type: "boolean"
                    description: "this is a phone type record"
                messageCapable:
                    type: "boolean"
                    description: "this type of address is capable of receiving notification messages"
                url:
                    type: "boolean"
                    description: "this is a social media address record"
                notification:
                    type: "boolean"
                    description: "this record can receive account notification messages from the system"
                recovery:
                    type: "boolean"
                    description: "this record can be used for password and account recovery operations"
        UserContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    user:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                        required:
                            - name
                    mobiles:
                        $ref: "#/components/schemas/UserMobileContactRecords"
                    emails:
                        $ref: "#/components/schemas/UserEmailContactRecords"
                    landlines:
                        $ref: "#/components/schemas/UserLandlineContactRecords"
                required:
                    - user
        UserMobileContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    mobile:
                        $ref: "#/components/schemas/UserContact"
                required:
                    - mobile
        UserEmailContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    email:
                        $ref: "#/components/schemas/UserContact"
                required:
                    - email
        UserLandlineContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    landline:
                        $ref: "#/components/schemas/UserContact"
                required:
                    - landline
        UserRecord:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/MobileNumber"
                - $ref: "#/components/schemas/CreateDateTime"
                - $ref: "#/components/schemas/RecordDateTime"
                - type: "object"
                  properties:
                    rowId:
                        type: "number"
                    name:
                        type: "string"
                    identifier:
                        type: "string"
                    externalIdentifier:
                        type: "string"
                    groupIdentifier:
                        type: "string"
                    policyIdentifier:
                        type: "string"
                    organizationIdentifier:
                        type: "string"
                    multiFactorIdentifier:
                        type: "string"
                    multiFactorName:
                        type: "string"
                    lastFailedAuthenticateDateTime:
                        type: "string"
                        format: "date-time"
                    lastLoginLocation:
                        type: "string"
                    lastFailedLoginLocation:
                        type: "string"
                    lockoutPeriod:
                        type: "string"
                    failedAuthenticateAttemptCount:
                        type: "number"
                    sessionExceededPolicy:
                        type: "number"
                    loginShell:
                        type: "string"
                    loginShellArguments:
                        type: "string"
                    serverLoginScriptPath:
                        type: "string"
                    homeDirectory:
                        type: "string"
                    notificationOptInMap:
                        type: "string"
                    restricted:
                        type: "string"
                    preferName:
                        type: "string"
        UserRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    user:
                        $ref: "#/components/schemas/UserRecord"
        UserProfile:
            allOf:
                - $ref: "#/components/schemas/CreateDateTime"
                - type: "object"
                  properties:
                    nationalRegistrationIdentityCard:
                        type: "string"
                    gender:
                        type: "string"
                        enum:
                            - "male"
                            - "female"
                    nationality:
                        type: "string"
                    race:
                        type: "string"
                    birthdate:
                        type: "string"
                        format: "date"
                    salutationPrefix:
                        type: "string"
                    salutationSuffix:
                        type: "string"
                    firstName:
                        type: "string"
                    middleName:
                        type: "string"
                    lastName:
                        type: "string"
                    otherName:
                        type: "string"
        TeamRecord:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/MobileNumber"
                - $ref: "#/components/schemas/CreateDateTime"
                - $ref: "#/components/schemas/RecordDateTime"
                - type: "object"
                  properties:
                    rowId:
                        type: "number"
                    name:
                        type: "string"
                    identifier:
                        type: "string"
                    restricted:
                        type: "string"
        TeamRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    teams:
                        $ref: "#/components/schemas/TeamRecord"
        TeamUserRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    team:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                    users:
                        type: "array"
                        items:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
        ResponseResult:
            type: "object"
            properties:
                code:
                    type: "string"
                    description: "success or error code"
                    example: "ErrorCode"
                    enum:
                        - Success
                        - Fail
                        - InvalidSessionToken
                        - InvalidRequestValues
                        - ServerTimeout
                        - SystemError
                        - InvalidProvider
                reason:
                    type: "string"
                    description: "reason for error occur"
                    example: "ErrorReason"
            required:
                - code
        AccessRightObjectNameOnRequest:
            type: "object"
            properties:
                name:
                    type: "string"
                    description: "name of the object which the rights are processed"
                    example: "frog"
            required:
                - name
        AccessRightActions:
            type: "object"
            description: "one or more actions"
            properties:
                <replace_with_action_name>:
                    type: "boolean"
                    description: "name of an action; values are ignored during retrieval however 'true' would mean an action to be granted and 'false' would mean an action to be revoked"
        AccessRightObjectRecord:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/CreateDateTime"
                - $ref: "#/components/schemas/RecordDateTime"
                - type: "object"
                  properties:
                    rowId:
                        type: "number"
                    name:
                        type: "string"
                    identifier:
                        type: "string"
                    class:
                        type: "string"
                    restricted:
                        type: "string"
        AccessRightObjectRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    accessRightObject:
                        $ref: "#/components/schemas/AccessRightObjectRecord"
        AccessRightActionRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    accessRightObject:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                            identifier:
                                type: "string"
                            accessRightActions:
                                description: "The list of access right actions related to an object"
                                type: "object"
        ValidationChecks:
            type: "object"
            properties:
                minimumLengthCheck:
                    type: "boolean"
                    description: "Validate against password.minimumLength"
                alphaCheck:
                    type: "boolean"
                    description: "Must contain at least one alphabet"
                upperCaseCheck:
                    type: "boolean"
                    description: "Must contain at least one upper case letter"
                lowerCaseCheck:
                    type: "boolean"
                    description: "Must contain at least one lower case letter"
                digitCheck:
                    type: "boolean"
                    description: "Must contain at least one digit"
                specialCharacterCheck:
                    type: "boolean"
                    description: "Must contain at least one special char (not an alphabet, not a digit)"
                usernameStrippedCheck:
                    type: "boolean"
                    description: "The password cannot contain the user name (in this case the user name and password are stripped of all non-alphabet as well as email suffix before a match is attempted)"
                usernameCheck:
                    type: "boolean"
                    description: "The password cannot contain the user name (in this the user name is not stripped of non-alphabet and the email suffix)"
        PasswordPolicyName:
            type: "object"
            properties:
                name:
                    description: "The name assigned to this policy"
                    type: "string"
            required:
                - name
        PasswordPolicy:
            allOf:
                - $ref: "#/components/schemas/PasswordPolicyName"
                - type: "object"
                  properties:
                    name:
                        description: "The name assigned to this policy"
                        type: "string"
                    minimumStrength:
                        description: "The minimum strength, as determinted by entropy, which a password must have"
                        type: "integer"
                        format: "int32"
                    minimumLength:
                        description: "The minimum length a password must have. A value of zero implies no minimum required"
                        type: "integer"
                        format: "int32"
                    historySize:
                        description: "The number of past passwords in the password history file. This indicates how many past passwords are checked when a user attempts to change their password. A value of zero means never check against old password."
                        type: "integer"
                        format: "int32"
                    maximumLife:
                        description: "The number of days after which the user must change their password. A value of zero means the user is never required to change their password."
                        type: "integer"
                        format: "int32"
                    maximumFailedAttempts:
                        description: "The maximum consecutive times a password authentication fails after which the user is locked out. A value of zero means to never lock the record."
                        type: "integer"
                        format: "int32"
                    lockoutPeriod:
                        description: "The number of seconds to lockout an account after 'maximumFailedAttempts' consecutive password failures. If this field is zero, then the record is locked until an administrator unlocks the record."
                        type: "integer"
                        format: "int32"
                    resetLife:
                        description: "The number of seconds a temporary password is valid."
                        type: "integer"
                        format: "int32"
                    validationChecks:
                        $ref: "#/components/schemas/ValidationChecks"
                    hashAlgorithm:
                        description: "The value determines which hashing algorithm will be used to hash the plaintext password."
                        type: "string"
                        enum:
                            - "pbkdf2"
                            - "digest"
                            - "bcrypt"
                            - "scrypt"
                            - "encrypt"
                            - "random"
                    hashDigest:
                        description: "The message digest to use with the hash algorithm"
                        type: "string"
                        enum:
                            - "md5"
                            - "sha1"
                            - "sha224"
                            - "sha256"
                            - "sha512"
                            - "ripemd160"
                            - "whirlpool"
                            - "random"
                    hashEncoding:
                        description: "How the final hash is encoded in the database"
                        type: "string"
                        enum:
                            - "ascii"
                            - "crypt"
                            - "binary"
                    hashSaltSize:
                        description: "The size of the salt, in bytes, value to apply to password. Some algorithms fix this value or apply a minimum to size of salt. The system will automatically modify this value if required."
                        type: "integer"
                        format: "int32"
                    hashKeySize:
                        description: "The size of the key to pass to the PBKDF2 function."
                        type: "integer"
                        format: "int32"
                    hashRounds:
                        description: "The number of rounds (iterations) to apply the hash algorithm (default is 131,072). Note that some algorithms require a specific number of rounds or set a minimum or maximum on the allowed rounds. Depending on the choice of algorithm, the system will automatically adjust the rounds. The overall minimum number of rounds is 1000."
                        type: "integer"
                        format: "int32"
                    restricted:
                        description: "The name of the organization to which this policy is restricted."
                        type: "string"
        PasswordPolicyRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    passwordPolicy:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/PasswordPolicy"
                            - type: "object"
                              properties:
                                rowId:
                                    type: "number"
                                identifier:
                                    type: "string"
        AuthenticationPolicyName:
            type: "object"
            properties:
                name:
                    description: "The name assigned to this authentication policy"
                    type: "string"
            required:
                - name
        AuthenticationPolicyRecord:
            allOf:
                - $ref: "#/components/schemas/AuthenticationPolicyName"
                - type: "object"
                  properties:
                    externalValidator:
                        type: "string"
                    multiFactorName:
                        type: "string"
                    authenticationFlags:
                        type: "integer"
                        format: "int32"
                    inactivityTimeout:
                        description: "The number of idle seconds before a session is automatically logged off. A value of zero implies no inactivity timeout. A negative value implies that idle timeout will be managed by an external entity such as portal rather than main server."
                        type: "integer"
                        format: "int32"
                    maximumSessions:
                        description: "The maximum number of concurrent sessions this policy allows a user. A value of zero indicates that there is no maximum."
                        type: "integer"
                        format: "int32"
                    sessionExceededPolicy:
                        description: "The policy to use when a user exceeds their allowed maximum session count."
                        type: "string"
                        enum:
                            - "reject"
                            - "makeRoom"
                    restricted:
                        description: "The name of the organization to which this policy is restricted."
                        type: "string"
        AuthenticationPolicyRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    authenticationPolicy:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/AuthenticationPolicyName"
                            - $ref: "#/components/schemas/AuthenticationPolicyRecord"
                    passwordPolicy:
                        allOf:
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - type: "object"
                              properties:
                                module:
                                    type: "string"
                required:
                    - authenticationPolicy
                    - passwordPolicy
        OrganizationName:
            type: "object"
            properties:
                name:
                    description: "The name assigned to this organization"
                    type: "string"
            required:
                - name
        OrganizationRecord:
            allOf:
                - $ref: "#/components/schemas/OrganizationName"
                - type: "object"
                  properties:
                    externalIdentifier:
                        type: "string"
                    serverLoginScriptPath:
                        type: "string"
                    description:
                        description: "full name of an organization"
                        type: "string"
                    restricted:
                        description: "This indicates if this organization should be marked as restricted (true) or unnrestricted (false). The default is 'false'."
                        type: "boolean"
        OrganizationRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    organization:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/OrganizationName"
                            - $ref: "#/components/schemas/OrganizationRecord"
                    authenticationPolicy:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                        required:
                            - identifier
                    team:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                        required:
                            - identifier
                required:
                    - organization
                    - authenticationPolicy
                    - team
        SessionUserRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    sessionUser:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                            identifier:
                                type: "string"
                            nodeIdentifier:
                                type: "string"
                            recordStatus:
                                type: "string"
                            lastActivityDateTime:
                                description: "date & time of last activity"
                                type: "string"
                                format: "date-time"
                            expiryInSeconds:
                                type: "number"
                            activeSessions:
                                type: "number"
        SessionRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    session:
                        type: "object"
                        properties:
                            number:
                                type: "number"
                            flags:
                                type: "number"
                            loginMethod:
                                type: "string"
                            recordStatus:
                                type: "string"
                            lastActivityDateTime:
                                description: "date & time of last activity"
                                type: "string"
                                format: "date-time"
                            createDateTime:
                                description: "date & time of session was created"
                                type: "string"
                                format: "date-time"
                            location:
                                type: "string"
        CountryRecord:
            type: "object"
            properties:
                name:
                    type: "string"
                isoAlpha2Code:
                    type: "string"
                isoAlpha3Code:
                    type: "string"
                isoNumericCode:
                    type: "number"
        CurrencyRecord:
            type: "object"
            properties:
                name:
                    type: "string"
                isoAlphaCode:
                    type: "string"
                isoNumericCode:
                    type: "number"
                symbol:
                    type: "string"
                minorUnits:
                    type: "number"
                isPrefix:
                    type: "boolean"
        CountryCode:
            description: "ISO numeric country code"
            type: "integer"
            format: "int32"
            minimum: 0
            maximum: 999
            example: 840
        CurrencyCode:
            description: "The currency in ISO numeric code"
            type: "integer"
            format: "int32"
            minimum: 0
            maximum: 999
            example: 840
        PaymentRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    payment:
                        type: "object"
                        properties:
                            recordDateTime:
                                type: "string"
                                format: "date-time"
                            applicationIdentifier:
                                type: "string"
                            messageTypeIdentifier:
                                type: "string"
                            processingCode:
                                type: "string"
                            traceNumber:
                                type: "string"
                            transmissionDateTime:
                                type: "string"
                                format: "date-time"
                            status:
                                type: "string"
                            acquirerInstitution:
                                type: "string"
                            switchSequence:
                                type: "string"
                            amount:
                                type: "number"
                            localTime:
                                type: "string"
                            localDate:
                                type: "string"
                                format: "date-time"
                            retrievalReferenceNumber:
                                type: "string"
                            currencyCode:
                                description: "The payment's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                    settlement:
                        type: "object"
                        properties:
                            date:
                                type: "string"
                                format: "date-time"
                            amount:
                                type: "number"
                            rate:
                                type: "number"
                            currencyCode:
                                description: "The settlement's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                    paymentInstrument:
                        type: "object"
                        properties:
                            maskedNumber:
                                type: "string"
                            encryptedNumber:
                                type: "string"
                            issuerInstitution:
                                type: "string"
                            countryCode:
                                type: "string"
                            currencyCode:
                                description: "The payment instrument's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                            expiry:
                                type: "string"
                    refund:
                        type: "object"
                        properties:
                            amount:
                                type: "number"
                            date:
                                type: "string"
                                format: "date-time"
                    adjustment:
                        type: "object"
                        properties:
                            amount:
                                type: "number"
                            date:
                                type: "string"
                                format: "date-time"
                    merchant:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                            categoryCode:
                                type: "string"
                            deviceIdentifier:
                                type: "string"
                            countryCode:
                                type: "string"
                            nameAndLocation:
                                type: "string"
                    customer:
                        type: "object"
                        properties:
                            name:
                                type: "string"
        PaymentTokenRecord:
            type: "object"
            properties:
                amount:
                    description: "The payment amount to be collected"
                    type: "number"
                    minimum: 0
                    example: 10
                minimumAmount:
                    description: "The manimum amount needed"
                    type: "number"
                    minimum: 0
                    exclusiveMinimum: true
                    example: 1
                maximumAmount:
                    description: "The maximum amount allowed"
                    type: "number"
                    minimum: 0
                    exclusiveMinimum: true
                    example: 100
                currencyCode:
                    description: "The amount's currency code"
                    $ref: "#/components/schemas/CountryCode"
                name:
                    description: "The purpose/usage of the payment token"
                    type: "string"
                    minLength: 1
                    example: "Donate For Children"
                description:
                    type: "string"
                    minLength: 1
                    example: "Help us protect children around the world"
                image:
                    description: "Base64 encoded string of an image"
                    type: "string"
                    format: "byte"
                amountIsFlexible:
                    description: "Indicator if shopper/customer is allowed to change amount"
                    type: "boolean"
                    example: true
                taxCategoryCode:
                    description: "Indicator if shopper/customer is allowed to change amount"
                    type: "string"
                    minLength: 1
                    example: "taxCategoryCode01"
                collectTaxAutomatically:
                    description: "Indicator if tax is calculated and collected automatically"
                    type: "boolean"
                    example: true
                includeTaxInPrice:
                    description: "Indicator if tax should be included in pricing"
                    type: "boolean"
                    example: true
                allowPromotionCodes:
                    description: "Indicator if shopper/customer is allowed to enter promotion codes"
                    type: "boolean"
                    example: true
                savePaymentDetails:
                    description: "Indicator if payment details shall be saved"
                    type: "boolean"
                    example: true
                requireCustomerPhoneNumber:
                    description: "Indicator if shopper/customer is required to enter phone number"
                    type: "boolean"
                    example: true
                requireCustomerBillingAddress:
                    description: "Indicator if shopper/customer is required to enter billing address"
                    type: "boolean"
                    example: true
                requireCustomerShippingAddress:
                    description: "Indicator if shopper/customer is required to enter shipping address"
                    type: "boolean"
                    example: true
                payButtonText:
                    description: "Text to be presented on the 'PAY' button"
                    type: "string"
                    enum:
                        - "PAY"
                        - "DONATE"
                        - "BOOK"
        PaymentTokenRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    paymentToken:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/PaymentTokenRecord"
                            - required:
                                - recordStatus
                                - identifier
                                - name
                                - description
                                - amount
                                - amountIsFlexible
                    merchant:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                        required:
                            - identifier
                    url:
                        type: "object"
                        properties:
                            path:
                                description: "Full URL path with end point to initiate the payment process"
                                type: "string"
                                format: "uri"
                                example: "https://pay.example.com/paymentToken/payment_token_identifier"
                        required:
                            - path
                required:
                    - paymentToken
                    - url
        BillingAddress:
            allOf:
                - $ref: "#/components/schemas/BusinessPersonName"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/CCEmailAddress"
                - $ref: "#/components/schemas/PhoneNumber"
                - $ref: "#/components/schemas/MailingAddress"
        ShippingAddress:
            allOf:
                - $ref: "#/components/schemas/BusinessPersonName"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/PhoneNumber"
                - $ref: "#/components/schemas/MailingAddress"
        Locale:
            description: "One's preferred language and country code"
            type: "string"
            example: "en-US"
        TaxRecord:
            type: "object"
            properties:
                countryCode:
                    $ref: "#/components/schemas/CountryCode"
                type:
                    description: "The type of taxation of a territory of jurisdiction"
                    type: "string"
                    example: "VAT"
                identityNumber:
                    description: "The identity number of taxation for a business"
                    type: "string"
                    example: "<tax_id_number>"
            required:
                - countryCode
                - type
                - identityNumber
        CustomerRecord:
            allOf:
                - $ref: "#/components/schemas/BusinessPersonName"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/PhoneNumber"
                - type: "object"
                  properties:
                    description:
                        description: "A brief desctiptive text about the customer"
                        type: "string"
                        minLength: 1
                        example: "Help us protect children around the world"
                    currencyCode:
                        $ref: "#/components/schemas/CountryCode"
                    image:
                        description: "Base64 encoded string of an image"
                        type: "string"
                        format: "byte"
                    locale:
                        $ref: "#/components/schemas/Locale"
                    timeZone:
                        type: "string"
                        example: "+08:00"
                    invoicePrefix:
                        description: "The prefix of customer invoice number"
                        type: "string"
                        minLength: 1
                        maxLength: 8
                        example: "SALE_INV"
                    nextInvoiceSequence:
                        description: "The number of next customer invoice"
                        type: "number"
                        minimum: 1
                        maximum: 99999
                        example: 1
                    taxStatus:
                        type: "string"
                        enum:
                            - "taxable"
                            - "exempt"
                            - "reverseCharge"
                    metadata:
                        type: "string"
                    totalNumberOfPayments:
                        description: "total number of payment made since created"
                        type: "number"
                    lastPaymentDate:
                        type: "string"
                        format: "date-time"
                    totalAmountSpent:
                        type: "number"
                    totalAmountRefunded:
                        type: "number"
                    totalAmountDisputeLost:
                        type: "number"
        CustomerRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    customer:
                        allOf:
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/CustomerRecord"
                    customerPaymentInstrument:
                        allOf:
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/CustomerPaymentInstrumentRecord"
                    merchant:
                        $ref: "#/components/schemas/MerchantIdentifier"
                    organization:
                        $ref: "#/components/schemas/OrganizationName"
        PaymentInstrumentRecord:
            allOf:
                - type: "object"
                  properties:
                    description:
                        description: "A brief desctiptive text about the payment instrument"
                        type: "string"
                        minLength: 1
                        example: "Help us protect children around the world"
                    currencyCode:
                        $ref: "#/components/schemas/CountryCode"
                    expiryDate:
                        type: "string"
                        format: "date"
                    lastExpiryDate:
                        type: "string"
                        format: "date"
                    branch:
                        type: "string"
                    status:
                        type: "string"
                    lastStatus:
                        type: "string"
                    issuanceSerial:
                        type: "number"
                    issuanceIndex:
                        type: "number"
                    issuanceCount:
                        type: "number"
                    issuanceSequence:
                        type: "number"
                    embossIndicator:
                        type: "string"
                    nextCycleDate:
                        type: "string"
                        format: "date"
                    availableBalanceAmount:
                        type: "number"
                    ledgerBalanceAmount:
                        type: "number"
                    onHoldDebitAmount:
                        type: "number"
                    onHoldCreditAmount:
                        type: "number"
                    totalAmountSpent:
                        type: "number"
                    totalFeeCharged:
                        type: "number"
                    cycleAmountSpent:
                        type: "number"
                    cycleFeeCharged:
                        type: "number"
                    appliedIndicator:
                        type: "string"
                - $ref: "#/components/schemas/paymentInstrument.autoTopup"
        PaymentInstrumentRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    paymentInstrument:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/CreateDateTime"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/paymentInstrument.identifier"
                            - $ref: "#/components/schemas/PaymentInstrumentRecord"
                    paymentInstrumentProduct:
                        $ref: "#/components/schemas/paymentInstrumentProduct.identifier"
                    paymentInstrumentFunding:
                        $ref: "#/components/schemas/paymentInstrumentFunding.identifier"
                    user:
                        $ref: "#/components/schemas/user.identifier"
                    merchant:
                        $ref: "#/components/schemas/merchant.identifier"
                    organization:
                        $ref: "#/components/schemas/organization.identifier"
        PaymentInstrumentProductRecord:
            type: "object"
            properties:
                name:
                    description: "An unique name of the payment instrument's product"
                    type: "string"
                    minLength: 1
                    example: "USD_wallet"
                type:
                    description: "Type of the payment instrument's product"
                    type: "string"
                    minLength: 1
                    example: "wallet"
                category:
                    type: "string"
                    example: "default"
                issuancePrefix:
                    type: "string"
                    example: "586070"
                currencyCode:
                    $ref: "#/components/schemas/CountryCode"
                startSequence:
                    type: "number"
                    example: 1
                expiryExpectancy:
                    type: "string"
                    example: "none"
                    enum:
                        - "none"
                        - "day"
                        - "month"
                        - "year"
                expiryLife:
                    type: "number"
                    example: 0
                cyclePeriod:
                    type: "number"
                    example: 0
                appliedIndicator:
                    type: "string"
                minimumScore:
                    type: "number"
                    example: 0
                kycDefaultMaximumBalance:
                    type: "number"
                    example: 100
                kycLevel1Score:
                    type: "number"
                kycLevel1MaximumBalance:
                    type: "number"
                kycLevel2Score:
                    type: "number"
                kycLevel2MaximumBalance:
                    type: "number"
                kycLevel3Score:
                    type: "number"
                kycLevel3MaximumBalance:
                    type: "number"
                kycLevel4Score:
                    type: "number"
                kycLevel4MaximumBalance:
                    type: "number"
                kycLevel5Score:
                    type: "number"
                kycLevel5MaximumBalance:
                    type: "number"
                productAmount1:
                    type: "number"
                productAmount2:
                    type: "number"
                productAmount3:
                    type: "number"
                productAmount4:
                    type: "number"
                productAmount5:
                    type: "number"
            required:
                - name
                - type
        PaymentInstrumentProductRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    paymentInstrumentProduct:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/CreateDateTime"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/paymentInstrumentProduct.identifier"
                            - $ref: "#/components/schemas/PaymentInstrumentProductRecord"
                    paymentInstrumentNumber:
                        $ref: "#/components/schemas/paymentInstrumentNumber.name"
                    paymentInstrumentSerial:
                        $ref: "#/components/schemas/paymentInstrumentSerial.name"
                    organization:
                        $ref: "#/components/schemas/organization.identifier"
        CustomerPaymentInstrumentRecord:
            type: "object"
            properties:
                description:
                    description: "payment instrument's name"
                    type: "string"
                    example: "John Smith"
                number:
                    description: "payment instrument's number"
                    type: "string"
                maskedNumber:
                    description: "masked payment instrument's number"
                    type: "string"
                expiryDate:
                    type: "string"
                    format: "date"
                type:
                    description: "payment instrument type"
                    type: "string"
                    example: "CREDIT_CARD"
                brand:
                    description: "payment instrument's brand"
                    type: "string"
                    example: "MASTERCARD"
                issuer:
                    description: "name of issuing bank"
                    type: "string"
                issuingCountryCode:
                    type: "number"
                    format: "int32"
                cardVerificationValue:
                    type: "string"
                cardVerified:
                    type: "boolean"
        CustomerPaymentInstrumentRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    customerPaymentInstrument:
                        $ref: "#/components/schemas/CustomerPaymentInstrumentRecord"
                    customer:
                        $ref: "#/components/schemas/customer.identifier"
        user.name:
            type: "object"
            properties:
                name:
                    description: "The user's login name"
                    type: "string"
                    example: "john.smith"
            required:
                - name
        user.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an user"
                    type: "string"
                    example: "1"
            required:
                - identifier
        merchant.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify a merchant"
                    type: "string"
                    example: "1"
            required:
                - identifier
        organization.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an organization"
                    type: "string"
                    example: "1"
            required:
                - identifier
        organization.name:
            type: "object"
            properties:
                name:
                    description: "An unique name to identify an organization"
                    type: "string"
                    example: "john_smith_company"
            required:
                - name
        paymentInstrumentNumber.name:
            type: "object"
            properties:
                name:
                    description: "An unique name to identify an payment instrument's number"
                    type: "string"
                    example: "unique_name"
            required:
                - name
        paymentInstrumentSerial.name:
            type: "object"
            properties:
                name:
                    description: "An unique name to identify an payment instrument's serial"
                    type: "string"
                    example: "unique_name"
            required:
                - name
        paymentInstrumentProduct.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an payment instrument product"
                    type: "string"
                    example: "1"
            required:
                - identifier
        paymentInstrumentFunding.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an payment instrument funding source"
                    type: "string"
                    example: "1"
            required:
                - identifier
        paymentInstrument.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an payment instrument"
                    type: "string"
                    example: "1"
            required:
                - identifier
        paymentInstrument.autoTopup:
            type: "object"
            properties:
                autoTopupMode:
                    description: "This indicates how an instrument should be topup"
                    type: "string"
                    enum:
                        - "disable"
                        - "auto"
                        - "transactionAmountOnly"
                autoTopupAmount:
                    type: "number"
                autoTopupThresholdBalance:
                    type: "number"
        customer.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify a customer"
                    type: "string"
                    example: "1"
            required:
                - identifier
        customerPaymentInstrument.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify a customer's payment instrument"
                    type: "string"
                    example: "1"
            required:
                - identifier
    parameters:
        SessionToken:
            name: "x-synap-SessionToken"
            in: "header"
            description: "Synap's session token"
            required: true
            schema:
                type: "string"
                example: "<session_token>"
    requestBodies:
        UserAccessRightsRequestBody:
            required: true
            content:
                application/json:
                    schema:
                        type: "object"
                        properties:
                            user:
                                type: "object"
                                properties:
                                    name:
                                        type: "string"
                            accessRightObject:
                                $ref: "#/components/schemas/AccessRightObjectNameOnRequest"
                            accessRightActions:
                                $ref: "#/components/schemas/AccessRightActions"
        TeamAccessRightsRequestBody:
            required: true
            content:
                application/json:
                    schema:
                        type: "object"
                        properties:
                            team:
                                type: "object"
                                properties:
                                    name:
                                        type: "string"
                            accessRightObject:
                                $ref: "#/components/schemas/AccessRightObjectNameOnRequest"
                            accessRightActions:
                                $ref: "#/components/schemas/AccessRightActions"
        OrganizationAccessRightsRequestBody:
            required: true
            content:
                application/json:
                    schema:
                        type: "object"
                        properties:
                            organization:
                                type: "object"
                                properties:
                                    name:
                                        type: "string"
                            accessRightObject:
                                $ref: "#/components/schemas/AccessRightObjectNameOnRequest"
                            accessRightActions:
                                $ref: "#/components/schemas/AccessRightActions"
        PaymentRequestBody:
            required: true
            content:
                application/json:
                    schema:
                        type: "object"
                        properties:
                            merchant:
                                $ref: "#/components/schemas/MerchantIdentifier"
                            payment:
                                type: "object"
                                properties:
                                    amount:
                                        description: "The total payment's value including tax"
                                        type: "number"
                                        minimum: 0
                                        example: 1.23
                                    taxAmount:
                                        description: "The payment's tax value"
                                        type: "number"
                                        minimum: 0
                                        example: 1.23
                                    currencyCode:
                                        description: "The payment's currency in ISO numeric code"
                                        type: "integer"
                                        format: "int32"
                                        minimum: 0
                                        maximum: 999
                                        example: 840
                                    merchantReferenceNumber:
                                        description: "An unique identifier allows merchant to track payment"
                                        type: "string"
                                        example: "merchant_reference_number"
                                    purposeOfPayment:
                                        description: "The summary of the payment"
                                        type: "string"
                                        example: "Donate For Child"
                                    description:
                                        description: "More details about the payment"
                                        type: "string"
                                        example: "Help us protect children around the world"
                                    captureFundLater:
                                        description: "Reserve funds now and will be charged at later time"
                                        type: "boolean"
                                required:
                                    - amount
                                    - currencyCode
                            paymentToken:
                                type: "object"
                                properties:
                                    identifier:
                                        description: "The payment token identifier"
                                        type: "string"
                                        example: "payment_token_identifier"
                                required:
                                    - identifier
                            paymentMethod:
                                type: "object"
                                properties:
                                    type:
                                        description: "unique payment method code from 'GetPaymentMethod' response"
                                        type: "string"
                                        example: "card"
                            device:
                                type: "object"
                                properties:
                                    identifier:
                                        type: "string"
                                        example: "06045338"
                                    type:
                                        description: "The platform of the shopper's device"
                                        type: "string"
                                        enum:
                                            - "web"
                                            - "ios"
                                            - "android"
                                        example: "web"
                                required:
                                    - type
                            paymentInstrument:
                                type: "object"
                                properties:
                                    type:
                                        type: "string"
                                        enum:
                                            - "card"
                                        example: "card"
                                    number:
                                        type: "string"
                                        example: "5522300012953018"
                                    cardVerificationValue:
                                        type: "integer"
                                        format: "int32"
                                        minimum: 1
                                        maximum: 9999
                                        example: 123
                                    expiryDate:
                                        description: "expiry date shall be presented as 'YYMM'"
                                        type: "integer"
                                        format: "int32"
                                        minimum: 1
                                        maximum: 9999
                                        example: 1234
                                    ownerName:
                                        description: "name printed on plastic card or owner's name"
                                        type: "string"
                                        example: "John Smith"
                                    issuingCountryCode:
                                        description: "The payment instrument issuing's ISO numeric country code"
                                        type: "integer"
                                        format: "int32"
                                        minimum: 0
                                        maximum: 999
                                        example: 840
                                    savePaymentDetails:
                                        description: "to save this payment instrument details onto customer profile"
                                        type: "boolean"
                                        example: true
                                required:
                                    - type
                                    - number
                                    - ownerName
                                    - issuingCountryCode
                            customer:
                                allOf:
                                    - $ref: "#/components/schemas/EntityIdentifier"
                                    - $ref: "#/components/schemas/CustomerRecord"
                            billingAddress:
                                $ref: "#/components/schemas/BillingAddress"
                            shippingAddress:
                                $ref: "#/components/schemas/ShippingAddress"
                            returnURL:
                                description: "URL where the shopper will be taken back to after payment processing"
                                type: "string"
                                format: "uri"
                                example: "https://payment.merchant.com/result/merchant_reference_number"
    responses:
        ResultOnlyResponse:
            description: "Receive only result object on response"
            content:
                application/json:
                    schema:
                        type: "object"
                        properties:
                            result:
                                $ref: "#/components/schemas/ResponseResult"
        GetAccessRightsResponse:
            description: "Returned list of user's access rights"
            content:
                application/json:
                    schema:
                        type: "object"
                        properties:
                            result:
                                $ref: "#/components/schemas/ResponseResult"
                            accessRights:
                                type: "array"
                                items:
                                    type: "object"
                                    properties:
                                        accessRightObject:
                                            type: "object"
                                            properties:
                                                name:
                                                    type: "string"
                                        accessRightActions:
                                            $ref: "#/components/schemas/AccessRightActions"
        PaymentResponse:
            description: "Receive payment's result object and/or action on response"
            content:
                application/json:
                    schema:
                        type: "object"
                        properties:
                            result:
                                $ref: "#/components/schemas/ResponseResult"
                            payment:
                                type: "object"
                                properties:
                                    switchSequence:
                                        type: "string"
                            action:
                                type: "object"
                                properties:
                                    type:
                                        type: "string"
                                        enum:
                                            - "redirect"
                                    url:
                                        type: "object"
                                        properties:
                                            address:
                                                type: "string"
                                            method:
                                                type: "string"
                        required:
                            - result
    securitySchemes:
        synapSessionToken:
            type: "apiKey"
            description: "Synap's session token is required for all commands except few specific purpose commands"
            name: x-synap-SessionToken
            in: header
security:
    - synapSessionToken: []
paths:
    /Echo:
        summary: "Ping the server"
        post:
            operationId: "Echo"
            tags:
                -  "System"
            summary: "Echo back request body"
            security: []
            requestBody:
                description: "content to be echoed back"
                content:
                    application/json:
                        schema:
                            anyOf:
                                - type: "array"
                                - type: "boolean"
                                - type: "number"
                                - type: "object"
                                - type: "string"
            responses:
                200:
                    description: "Echo back request body"
                    content:
                        application/json:
                            schema:
                                anyOf:
                                    - type: "array"
                                    - type: "boolean"
                                    - type: "number"
                                    - type: "object"
                                    - type: "string"
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/Logout:
        summary: "User logout or sign out"
        post:
            tags:
                -  "Authentication"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/Login:
        summary: "User login or sign in"
        post:
            security: []
            tags:
                -  "Authentication"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                            minLength: 1
                                        password:
                                            type: "string"
                                            minLength: 1
            responses:
                200:
                    description: "Returned a session token and related data"
                    content:
                        application/json:
                            schema:
                                type: "object"
                                properties:
                                    result:
                                        $ref: "#/components/schemas/ResponseResult"
                                    sessionToken:
                                        type: "string"
                                        minLength: 1
                                    user:
                                        type: "object"
                                        properties:
                                            inactivityTimeout:
                                                type: "number"
                                            name:
                                                type: "string"
                                            preferName:
                                                type: "string"
                                            lastLogin:
                                                type: "string"
                                                format: "date-time"
                                    passwordPolicy:
                                        type: "object"
                                        properties:
                                            minimumLength:
                                                type: "number"
                                            validationChecks:
                                                $ref: "#/components/schemas/ValidationChecks"
                                    organization:
                                        type: "object"
                                        properties:
                                            name:
                                                type: "string"
                                            fullname:
                                                type: "string"
                                                description: "organization name to be used for display"
                                    merchant:
                                        type: "object"
                                        properties:
                                            identifier:
                                                type: "string"
                                    mobiles:
                                        $ref: "#/components/schemas/UserMobileContactRecords"
                                    emails:
                                        $ref: "#/components/schemas/UserEmailContactRecords"
                                    landlines:
                                        $ref: "#/components/schemas/UserLandlineContactRecords"
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/ContactShortList:
        summary: "Retrieve list of contact for an user"
        post:
            security: []
            tags:
                -  "Authentication"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                            minLength: 1
                                    required:
                                        - name
                            required:
                                - user
            responses:
                200:
                    description: "Returned a list of user's contact"
                    content:
                        application/json:
                            schema:
                                type: "object"
                                properties:
                                    result:
                                        $ref: "#/components/schemas/ResponseResult"
                                    mobiles:
                                        $ref: "#/components/schemas/UserMobileContactRecords"
                                    emails:
                                        $ref: "#/components/schemas/UserEmailContactRecords"
                                    landlines:
                                        $ref: "#/components/schemas/UserLandlineContactRecords"
                                required:
                                    - result
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/ChangePassword:
        summary: "Change user's existing password"
        post:
            security: []
            tags:
                -  "Password"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                            minLength: 1
                                        password:
                                            type: "string"
                                            minLength: 1
                                        newPassword:
                                            type: "string"
                                            minLength: 1
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/RequestToResetPassword:
        summary: "Request to reset user's existing password"
        post:
            security: []
            tags:
                -  "Password"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                            minLength: 1
                                location:
                                    type: "object"
                                    properties:
                                        ipAddress:
                                            type: "string"
                                        currentTimestamp:
                                            type: "string"
                                            format: "date-time"
                                application:
                                    type: "object"
                                    properties:
                                        identifier:
                                            type: "string"
                                email:
                                    type: "object"
                                    properties:
                                        identifier:
                                            type: "string"
                                mobile:
                                    type: "object"
                                    properties:
                                        identifier:
                                            type: "string"
            responses:
                200:
                    description: "Returned an URL for user to reset password"
                    content:
                        application/json:
                            schema:
                                type: "object"
                                properties:
                                    result:
                                        $ref: "#/components/schemas/ResponseResult"
                                    password:
                                        type: "object"
                                        properties:
                                            resetURL:
                                                type: "string"
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/VerifyResetPasswordToken:
        summary: "Verify security token for reset password"
        post:
            security: []
            tags:
                -  "Password"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                password:
                                    type: "object"
                                    properties:
                                        resetToken:
                                            type: "string"
                                            minLength: 1
                                    required:
                                        - resetToken
                            required:
                                - password
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/ResetPassword:
        summary: "Reset user's reset password"
        post:
            security: []
            tags:
                -  "Password"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        newPassword:
                                            type: "string"
                                            minLength: 1
                                    required:
                                        - newPassword
                                password:
                                    type: "object"
                                    properties:
                                        resetToken:
                                            type: "string"
                                            minLength: 1
                                    required:
                                        - resetToken
                                location:
                                    type: "object"
                                    properties:
                                        ipAddress:
                                            type: "string"
                                            minLength: 1
                                    required:
                                        - ipAddress
                            required:
                                - user
                                - password
                                - location
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/CheckUserAccessRights:
        summary: "Check user's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                accessRight:
                                    type: "object"
                                    properties:
                                        expression:
                                            type: "string"
                                            description: "arbitrary rights expression"
                                            example: "%user(joe) and transact(reversal)"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/GetUserAccessRights:
        summary: "Get list of user's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                    required:
                                        - name
                                accessRightObject:
                                    $ref: "#/components/schemas/AccessRightObjectNameOnRequest"
                            required:
                                - user
                                - accessRightObject
            responses:
                200:
                    $ref: "#/components/responses/GetAccessRightsResponse"
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/GetTeamAccessRights:
        summary: "Get list of team's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                team:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                    required:
                                        - name
                                accessRightObject:
                                    $ref: "#/components/schemas/AccessRightObjectNameOnRequest"
                            required:
                                - team
                                - accessRightObject
            responses:
                200:
                    $ref: "#/components/responses/GetAccessRightsResponse"
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/GetOrganizationAccessRights:
        summary: "Get list of organization's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                organization:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                    required:
                                        - name
                                accessRightObject:
                                    $ref: "#/components/schemas/AccessRightObjectNameOnRequest"
                            required:
                                - organization
                                - accessRightObject
            responses:
                200:
                    $ref: "#/components/responses/GetAccessRightsResponse"
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/GrantUserAccessRights:
        summary: "Grant user's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                $ref: "#/components/requestBodies/UserAccessRightsRequestBody"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/GrantTeamAccessRights:
        summary: "Grant team's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                $ref: "#/components/requestBodies/TeamAccessRightsRequestBody"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/GrantOrganizationAccessRights:
        summary: "Grant organization's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                $ref: "#/components/requestBodies/OrganizationAccessRightsRequestBody"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/RevokeUserAccessRights:
        summary: "Revoke user's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                $ref: "#/components/requestBodies/UserAccessRightsRequestBody"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/RevokeTeamAccessRights:
        summary: "Revoke team's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                $ref: "#/components/requestBodies/TeamAccessRightsRequestBody"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/RevokeOrganizationAccessRights:
        summary: "Revoke organization's access rights"
        post:
            tags:
                -  "Access Rights"
            requestBody:
                $ref: "#/components/requestBodies/OrganizationAccessRightsRequestBody"
            responses:
                default:
                    $ref: "#/components/responses/ResultOnlyResponse"
    /command/GetUser:
        summary: "Get user's details"
        post:
            tags:
                -  "User"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
                                cursor:
                                    $ref: "#/components/schemas/CursorRecordCountOnRequest"
            responses:
                200:
[...]
