
---
openapi: "3.0.0"
info:  # (MANDATORY)
    title: "SYNAP API"
    version: "0.0.1"  # major.minor.patch
    description: "SYNAP's API specification"
    contact:
        name: "Cranium Ventures Pte Ltd"
        url:  "https://www.craniumventures.com"
        email: "info@craniumventures.com"
servers:
    -
        url: "https://sandbox01.craniumventures.com/synap/dev"
        description: "Sandbox Environment"
components:
    schemas:
        CursorRecordCountOnRequest:
            type: "object"
            properties:
                creation:
                    description: "should a cursor be created?"
                    type: "string"
                    enum:
                        - always
                        - auto
                        - never
                recordOffset:
                    description: "offset of the record to retrieve"
                    type: "integer"
                    format: "int32"
                    minimum: 0
                    example: 0
                recordCount:
                    description: "number of records to be retrieved"
                    type: "integer"
                    format: "int32"
                    minimum: 1
                    example: 1
            required:
                - recordOffset
        CursorIdentifier:
            description: "identifier used to uniquely identify a cursor created by the system"
            type: "string"
            minLength: 1
            example: "<cursor_identifier>"
        CursorOnRequest:
            allOf:
                - type: "object"
                  properties:
                    identifier:
                        $ref: "#/components/schemas/CursorIdentifier"
                  required:
                    - identifier
                - $ref: "#/components/schemas/CursorRecordCountOnRequest"
        CursorOnResponse:
            type: "object"
            properties:
                identifier:
                        $ref: "#/components/schemas/CursorIdentifier"
                totalRecords:
                    description: "total number of records a cursor holds"
                    type: "number"
                    example: 10
            required:
                - identifier
                - totalRecords
        CursorRecordIdentifierOnResponse:
            type: "object"
            properties:
                recordIdentifier:
                    description: "record's identifier of a given cursor's context"
                    type: "string"
        RecordStatus:
            type: "object"
            properties:
                recordStatus:
                    description: "The current status/state of a record"
                    type: "string"
                    enum:
                        - active
                        - inactive
                        - suspense
                        - pendingApproval
                        - disable
                        - locked
                        - deleted
                        - noPassword
                    example: "active"
        CreateDateTime:
            type: "object"
            properties:
                createDateTime:
                    description: "date & time of create record"
                    type: "string"
                    format: "date-time"
        RecordDateTime:
            type: "object"
            properties:
                recordDateTime:
                    description: "date & time of update record"
                    type: "string"
                    format: "date-time"
        EntityIdentifier:
            type: "object"
            properties:
                identifier:
                    description: "unique identity of an entity in a given scope"
                    type: "string"
                    minLength: 1
                    example: "<identifier_of_an_entity>"
            required:
                - identifier
        MerchantIdentifier:
            type: "object"
            properties:
                identifier:
                    description: "merchant's unique identity"
                    type: "string"
                    minLength: 1
                    example: "110000000000053"
            required:
                - identifier
        BusinessPersonName:
            type: "object"
            properties:
                name:
                    description: "The name of a person or business"
                    type: "string"
                    example: "John Smith"
        MailingAddressType:
            type: "object"
            properties:
                type:
                    description: "the type of mailing address"
                    type: "string"
                    enum:
                        - "correspondence"
                        - "billing"
                        - "shipping"
            required:
                - type
        MailingAddress:
            type: "object"
            properties:
                countryCode:
                    description: "country code of mailing address"
                    $ref: "#/components/schemas/CountryCode"
                addressLine1:
                    description: "first line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "unit# and building name"
                addressLine2:
                    description: "second line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "street name"
                addressLine3:
                    description: "third line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "name of town or village"
                city:
                    description: "city name of mailing address"
                    type: "string"
                    minLength: 1
                    example: "Middle City"
                provinceState:
                    description: "province or state of mailing address"
                    type: "string"
                    minLength: 1
                    example: "Big State"
                postalCode:
                    description: "postal code of mailing address"
                    type: "string"
                    minLength: 1
                    example: "123456"
        ContactAddress:
            type: "object"
            properties:
                address:
                    description: "the plain text address for this contact; it will be empty if the actor is not the target user; this element holds the address which has been parsed by the system"
                    type: "string"
        EmailAddressAttribute:
            description: "The plain text email address"
            type: "string"
            format: "email"
            example: "john.smith@example.com"
        EmailAddress:
            type: "object"
            properties:
                emailAddress:
                    $ref: "#/components/schemas/EmailAddressAttribute"
        CCEmailAddress:
            type: "object"
            properties:
                ccEmailAddress:
                    $ref: "#/components/schemas/EmailAddressAttribute"
        PhoneNumberAttribute:
            description: "The plain text of formatted phone number"
            type: "string"
            example: "+1 (555) 555-1234"
        PhoneNumber:
            type: "object"
            properties:
                phoneNumber:
                    $ref: "#/components/schemas/PhoneNumberAttribute"
        MobileNumber:
            type: "object"
            properties:
                mobileNumber:
                    $ref: "#/components/schemas/PhoneNumberAttribute"
        UserContactType:
            type: "object"
            properties:
                type:
                    description: "The type of a contact"
                    type: "string"
                    enum:
                        - "email"
                        - "mobile"
                        - "landline"
                        - "url"
        UserContact:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/ContactAddress"
                - type: "object"
                  properties:
                    class:
                        type: "number"
                        description: "the contact class"
                    identifier:
                        type: "string"
                        description: "a system generated key which can be used to retrieve this contact record"
                    maskedAddress:
                        type: "string"
                        description: "the contact address masked for security purposes; an application must only display the masked address even if a plain text address is present in the response"
                    originalAddress:
                        type: "string"
                        description: "the plain text address for this contact; it will be empty if the actor is not the target user; this element holds the address string as entered by the user when the record was created or updated"
                    flags:
                        $ref: "#/components/schemas/UserContactFlags"
        UserContactFlags:
            type: "object"
            properties:
                verified:
                    type: "boolean"
                    description: "the record has been verified"
                primary:
                    type: "boolean"
                    description: "this is a primary address"
                default:
                    type: "boolean"
                    description: "this is a default address"
                phone:
                    type: "boolean"
                    description: "this is a phone type record"
                messageCapable:
                    type: "boolean"
                    description: "this type of address is capable of receiving notification messages"
                url:
                    type: "boolean"
                    description: "this is a social media address record"
                notification:
                    type: "boolean"
                    description: "this record can receive account notification messages from the system"
                recovery:
                    type: "boolean"
                    description: "this record can be used for password and account recovery operations"
        UserContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    user:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                        required:
                            - name
                    mobiles:
                        $ref: "#/components/schemas/UserMobileContactRecords"
                    emails:
                        $ref: "#/components/schemas/UserEmailContactRecords"
                    landlines:
                        $ref: "#/components/schemas/UserLandlineContactRecords"
                required:
                    - user
        UserMobileContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    mobile:
                        $ref: "#/components/schemas/UserContact"
                required:
                    - mobile
        UserEmailContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    email:
                        $ref: "#/components/schemas/UserContact"
                required:
                    - email
        UserLandlineContactRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    landline:
                        $ref: "#/components/schemas/UserContact"
                required:
                    - landline
        UserRecord:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/MobileNumber"
                - $ref: "#/components/schemas/CreateDateTime"
                - $ref: "#/components/schemas/RecordDateTime"
                - type: "object"
                  properties:
                    rowId:
                        type: "number"
                    name:
                        type: "string"
                    identifier:
                        type: "string"
                    externalIdentifier:
                        type: "string"
                    groupIdentifier:
                        type: "string"
                    policyIdentifier:
                        type: "string"
                    organizationIdentifier:
                        type: "string"
                    multiFactorIdentifier:
                        type: "string"
                    multiFactorName:
                        type: "string"
                    lastFailedAuthenticateDateTime:
                        type: "string"
                        format: "date-time"
                    lastLoginLocation:
                        type: "string"
                    lastFailedLoginLocation:
                        type: "string"
                    lockoutPeriod:
                        type: "string"
                    failedAuthenticateAttemptCount:
                        type: "number"
                    sessionExceededPolicy:
                        type: "number"
                    loginShell:
                        type: "string"
                    loginShellArguments:
                        type: "string"
                    serverLoginScriptPath:
                        type: "string"
                    homeDirectory:
                        type: "string"
                    notificationOptInMap:
                        type: "string"
                    restricted:
                        type: "string"
                    preferName:
                        type: "string"
        UserRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    user:
                        $ref: "#/components/schemas/UserRecord"
        UserProfile:
            allOf:
                - $ref: "#/components/schemas/CreateDateTime"
                - type: "object"
                  properties:
                    nationalRegistrationIdentityCard:
                        type: "string"
                    gender:
                        type: "string"
                        enum:
                            - "male"
                            - "female"
                    nationality:
                        type: "string"
                    race:
                        type: "string"
                    birthdate:
                        type: "string"
                        format: "date"
                    salutationPrefix:
                        type: "string"
                    salutationSuffix:
                        type: "string"
                    firstName:
                        type: "string"
                    middleName:
                        type: "string"
                    lastName:
                        type: "string"
                    otherName:
                        type: "string"
        UserTeamRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    user:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                    teams:
                        type: "array"
                        items:
                            type: "object"
                            properties:
                                team:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
        TeamRecord:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/MobileNumber"
                - $ref: "#/components/schemas/CreateDateTime"
                - $ref: "#/components/schemas/RecordDateTime"
                - type: "object"
                  properties:
                    rowId:
                        type: "number"
                    name:
                        type: "string"
                    identifier:
                        type: "string"
                    restricted:
                        type: "string"
        TeamRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    teams:
                        $ref: "#/components/schemas/TeamRecord"
        TeamUserRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    team:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                    users:
                        type: "array"
                        items:
                            type: "object"
                            properties:
                                user:
                                    type: "object"
                                    properties:
                                        name:
                                            type: "string"
        ResponseResult:
            type: "object"
            properties:
                code:
                    type: "string"
                    description: "success or error code"
                    example: "ErrorCode"
                    enum:
                        - Success
                        - Fail
                        - InvalidSessionToken
                        - InvalidRequestValues
                        - ServerTimeout
                        - SystemError
                        - InvalidProvider
                        - NoRecordFound
                        - InvalidRecord
                        - InvalidAccessRightOwner
                reason:
                    type: "string"
                    description: "reason for error occur"
                    example: "ErrorReason"
            required:
                - code
        AccessRightObjectNameOnRequest:
            type: "object"
            properties:
                name:
                    type: "string"
                    description: "name of the object which the rights are processed"
                    example: "frog"
            required:
                - name
        AccessRightActions:
            type: "object"
            description: "one or more actions"
            properties:
                <replace_with_action_name>:
                    type: "boolean"
                    description: "name of an action; values are ignored during retrieval however 'true' would mean an action to be granted and 'false' would mean an action to be revoked"
        AccessRightObjectRecord:
            allOf:
                - $ref: "#/components/schemas/RecordStatus"
                - $ref: "#/components/schemas/CreateDateTime"
                - $ref: "#/components/schemas/RecordDateTime"
                - type: "object"
                  properties:
                    rowId:
                        type: "number"
                    name:
                        type: "string"
                    identifier:
                        type: "string"
                    class:
                        type: "string"
                    restricted:
                        type: "string"
        AccessRightObjectRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    accessRightObject:
                        $ref: "#/components/schemas/AccessRightObjectRecord"
        AccessRightActionRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    accessRightObject:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                            identifier:
                                type: "string"
                            accessRightActions:
                                description: "The list of access right actions related to an object"
                                type: "object"
        ValidationChecks:
            type: "object"
            properties:
                minimumLengthCheck:
                    type: "boolean"
                    description: "Validate against password.minimumLength"
                alphaCheck:
                    type: "boolean"
                    description: "Must contain at least one alphabet"
                upperCaseCheck:
                    type: "boolean"
                    description: "Must contain at least one upper case letter"
                lowerCaseCheck:
                    type: "boolean"
                    description: "Must contain at least one lower case letter"
                digitCheck:
                    type: "boolean"
                    description: "Must contain at least one digit"
                specialCharacterCheck:
                    type: "boolean"
                    description: "Must contain at least one special char (not an alphabet, not a digit)"
                usernameStrippedCheck:
                    type: "boolean"
                    description: "The password cannot contain the user name (in this case the user name and password are stripped of all non-alphabet as well as email suffix before a match is attempted)"
                usernameCheck:
                    type: "boolean"
                    description: "The password cannot contain the user name (in this the user name is not stripped of non-alphabet and the email suffix)"
        PasswordPolicyName:
            type: "object"
            properties:
                name:
                    description: "The name assigned to this policy"
                    type: "string"
            required:
                - name
        PasswordPolicy:
            allOf:
                - $ref: "#/components/schemas/PasswordPolicyName"
                - type: "object"
                  properties:
                    name:
                        description: "The name assigned to this policy"
                        type: "string"
                    minimumStrength:
                        description: "The minimum strength, as determinted by entropy, which a password must have"
                        type: "integer"
                        format: "int32"
                    minimumLength:
                        description: "The minimum length a password must have. A value of zero implies no minimum required"
                        type: "integer"
                        format: "int32"
                    historySize:
                        description: "The number of past passwords in the password history file. This indicates how many past passwords are checked when a user attempts to change their password. A value of zero means never check against old password."
                        type: "integer"
                        format: "int32"
                    maximumLife:
                        description: "The number of days after which the user must change their password. A value of zero means the user is never required to change their password."
                        type: "integer"
                        format: "int32"
                    maximumFailedAttempts:
                        description: "The maximum consecutive times a password authentication fails after which the user is locked out. A value of zero means to never lock the record."
                        type: "integer"
                        format: "int32"
                    lockoutPeriod:
                        description: "The number of seconds to lockout an account after 'maximumFailedAttempts' consecutive password failures. If this field is zero, then the record is locked until an administrator unlocks the record."
                        type: "integer"
                        format: "int32"
                    resetLife:
                        description: "The number of seconds a temporary password is valid."
                        type: "integer"
                        format: "int32"
                    validationChecks:
                        $ref: "#/components/schemas/ValidationChecks"
                    hashAlgorithm:
                        description: "The value determines which hashing algorithm will be used to hash the plaintext password."
                        type: "string"
                        enum:
                            - "pbkdf2"
                            - "digest"
                            - "bcrypt"
                            - "scrypt"
                            - "encrypt"
                            - "random"
                    hashDigest:
                        description: "The message digest to use with the hash algorithm"
                        type: "string"
                        enum:
                            - "md5"
                            - "sha1"
                            - "sha224"
                            - "sha256"
                            - "sha512"
                            - "ripemd160"
                            - "whirlpool"
                            - "random"
                    hashEncoding:
                        description: "How the final hash is encoded in the database"
                        type: "string"
                        enum:
                            - "ascii"
                            - "crypt"
                            - "binary"
                    hashSaltSize:
                        description: "The size of the salt, in bytes, value to apply to password. Some algorithms fix this value or apply a minimum to size of salt. The system will automatically modify this value if required."
                        type: "integer"
                        format: "int32"
                    hashKeySize:
                        description: "The size of the key to pass to the PBKDF2 function."
                        type: "integer"
                        format: "int32"
                    hashRounds:
                        description: "The number of rounds (iterations) to apply the hash algorithm (default is 131,072). Note that some algorithms require a specific number of rounds or set a minimum or maximum on the allowed rounds. Depending on the choice of algorithm, the system will automatically adjust the rounds. The overall minimum number of rounds is 1000."
                        type: "integer"
                        format: "int32"
                    restricted:
                        description: "The name of the organization to which this policy is restricted."
                        type: "string"
        PasswordPolicyRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    passwordPolicy:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/PasswordPolicy"
                            - type: "object"
                              properties:
                                rowId:
                                    type: "number"
                                identifier:
                                    type: "string"
        AuthenticationPolicyName:
            type: "object"
            properties:
                name:
                    description: "The name assigned to this authentication policy"
                    type: "string"
            required:
                - name
        AuthenticationPolicyRecord:
            allOf:
                - $ref: "#/components/schemas/AuthenticationPolicyName"
                - type: "object"
                  properties:
                    externalValidator:
                        type: "string"
                    multiFactorName:
                        type: "string"
                    authenticationFlags:
                        type: "integer"
                        format: "int32"
                    inactivityTimeout:
                        description: "The number of idle seconds before a session is automatically logged off. A value of zero implies no inactivity timeout. A negative value implies that idle timeout will be managed by an external entity such as portal rather than main server."
                        type: "integer"
                        format: "int32"
                    maximumSessions:
                        description: "The maximum number of concurrent sessions this policy allows a user. A value of zero indicates that there is no maximum."
                        type: "integer"
                        format: "int32"
                    sessionExceededPolicy:
                        description: "The policy to use when a user exceeds their allowed maximum session count."
                        type: "string"
                        enum:
                            - "reject"
                            - "makeRoom"
                    restricted:
                        description: "The name of the organization to which this policy is restricted."
                        type: "string"
        AuthenticationPolicyRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    authenticationPolicy:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/AuthenticationPolicyName"
                            - $ref: "#/components/schemas/AuthenticationPolicyRecord"
                    passwordPolicy:
                        allOf:
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - type: "object"
                              properties:
                                module:
                                    type: "string"
                required:
                    - authenticationPolicy
                    - passwordPolicy
        OrganizationName:
            type: "object"
            properties:
                name:
                    description: "The name assigned to this organization"
                    type: "string"
            required:
                - name
        OrganizationRecord:
            allOf:
                - $ref: "#/components/schemas/OrganizationName"
                - type: "object"
                  properties:
                    externalIdentifier:
                        type: "string"
                    serverLoginScriptPath:
                        type: "string"
                    description:
                        description: "full name of an organization"
                        type: "string"
                    restricted:
                        description: "This indicates if this organization should be marked as restricted (true) or unnrestricted (false). The default is 'false'."
                        type: "boolean"
        OrganizationRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    organization:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/OrganizationName"
                            - $ref: "#/components/schemas/OrganizationRecord"
                    authenticationPolicy:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                        required:
                            - identifier
                    team:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                        required:
                            - identifier
                required:
                    - organization
                    - authenticationPolicy
                    - team
        SessionUserRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    sessionUser:
                        type: "object"
                        properties:
                            name:
                                type: "string"
                            identifier:
                                type: "string"
                            nodeIdentifier:
                                type: "string"
                            recordStatus:
                                type: "string"
                            lastActivityDateTime:
                                description: "date & time of last activity"
                                type: "string"
                                format: "date-time"
                            expiryInSeconds:
                                type: "number"
                            activeSessions:
                                type: "number"
        SessionRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    cursor:
                        $ref: "#/components/schemas/CursorRecordIdentifierOnResponse"
                    session:
                        type: "object"
                        properties:
                            number:
                                type: "number"
                            flags:
                                type: "number"
                            loginMethod:
                                type: "string"
                            recordStatus:
                                type: "string"
                            lastActivityDateTime:
                                description: "date & time of last activity"
                                type: "string"
                                format: "date-time"
                            createDateTime:
                                description: "date & time of session was created"
                                type: "string"
                                format: "date-time"
                            location:
                                type: "string"
        CountryRecord:
            type: "object"
            properties:
                name:
                    type: "string"
                isoAlpha2Code:
                    type: "string"
                isoAlpha3Code:
                    type: "string"
                isoNumericCode:
                    type: "number"
        CurrencyRecord:
            type: "object"
            properties:
                name:
                    type: "string"
                isoAlphaCode:
                    type: "string"
                isoNumericCode:
                    type: "number"
                symbol:
                    type: "string"
                minorUnits:
                    type: "number"
                isPrefix:
                    type: "boolean"
        CountryCode:
            description: "ISO numeric country code"
            type: "integer"
            format: "int32"
            minimum: 0
            maximum: 999
            example: 840
        CurrencyCode:
            description: "The currency in ISO numeric code"
            type: "integer"
            format: "int32"
            minimum: 0
            maximum: 999
            example: 840
        TransactionRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    transaction:
                        type: "object"
                        properties:
                            recordDateTime:
                                type: "string"
                                format: "date-time"
                            applicationIdentifier:
                                type: "string"
                            messageTypeIdentifier:
                                type: "string"
                            processingCode:
                                type: "string"
                            traceNumber:
                                type: "string"
                            transmissionDateTime:
                                type: "string"
                                format: "date-time"
                            status:
                                type: "string"
                            acquirerInstitution:
                                type: "string"
                            switchSequence:
                                type: "string"
                            amount:
                                type: "number"
                            localTime:
                                type: "string"
                            localDate:
                                type: "string"
                                format: "date-time"
                            retrievalReferenceNumber:
                                type: "string"
                            currencyCode:
                                description: "The payment's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                    settlement:
                        type: "object"
                        properties:
                            date:
                                type: "string"
                                format: "date-time"
                            amount:
                                type: "number"
                            rate:
                                type: "number"
                            currencyCode:
                                description: "The settlement's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                    paymentInstrument:
                        type: "object"
                        properties:
                            maskedNumber:
                                type: "string"
                            encryptedNumber:
                                type: "string"
                            issuerInstitution:
                                type: "string"
                            countryCode:
                                type: "string"
                            currencyCode:
                                description: "The payment instrument's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                            expiry:
                                type: "string"
                    refund:
                        type: "object"
                        properties:
                            amount:
                                type: "number"
                            date:
                                type: "string"
                                format: "date-time"
                    adjustment:
                        type: "object"
                        properties:
                            amount:
                                type: "number"
                            date:
                                type: "string"
                                format: "date-time"
                    merchant:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                            categoryCode:
                                type: "string"
                            deviceIdentifier:
                                type: "string"
                            countryCode:
                                type: "string"
                            nameAndLocation:
                                type: "string"
                    customer:
                        type: "object"
                        properties:
                            name:
                                type: "string"
        PaymentRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    payment:
                        type: "object"
                        properties:
                            recordDateTime:
                                type: "string"
                                format: "date-time"
                            applicationIdentifier:
                                type: "string"
                            messageTypeIdentifier:
                                type: "string"
                            processingCode:
                                type: "string"
                            traceNumber:
                                type: "string"
                            transmissionDateTime:
                                type: "string"
                                format: "date-time"
                            status:
                                type: "string"
                            acquirerInstitution:
                                type: "string"
                            switchSequence:
                                type: "string"
                            amount:
                                type: "number"
                            localTime:
                                type: "string"
                            localDate:
                                type: "string"
                                format: "date-time"
                            retrievalReferenceNumber:
                                type: "string"
                            currencyCode:
                                description: "The payment's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                    settlement:
                        type: "object"
                        properties:
                            date:
                                type: "string"
                                format: "date-time"
                            amount:
                                type: "number"
                            rate:
                                type: "number"
                            currencyCode:
                                description: "The settlement's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                    paymentInstrument:
                        type: "object"
                        properties:
                            maskedNumber:
                                type: "string"
                            encryptedNumber:
                                type: "string"
                            issuerInstitution:
                                type: "string"
                            countryCode:
                                type: "string"
                            currencyCode:
                                description: "The payment instrument's currency in ISO numeric code"
                                type: "integer"
                                format: "int32"
                            expiry:
                                type: "string"
                    refund:
                        type: "object"
                        properties:
                            amount:
                                type: "number"
                            date:
                                type: "string"
                                format: "date-time"
                    adjustment:
                        type: "object"
                        properties:
                            amount:
                                type: "number"
                            date:
                                type: "string"
                                format: "date-time"
                    merchant:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                            categoryCode:
                                type: "string"
                            deviceIdentifier:
                                type: "string"
                            countryCode:
                                type: "string"
                            nameAndLocation:
                                type: "string"
                    customer:
                        type: "object"
                        properties:
                            name:
                                type: "string"
        PaymentTokenRecord:
            type: "object"
            properties:
                amount:
                    description: "The payment amount to be collected"
                    type: "number"
                    minimum: 0
                    example: 10
                minimumAmount:
                    description: "The manimum amount needed"
                    type: "number"
                    minimum: 0
                    exclusiveMinimum: true
                    example: 1
                maximumAmount:
                    description: "The maximum amount allowed"
                    type: "number"
                    minimum: 0
                    exclusiveMinimum: true
                    example: 100
                currencyCode:
                    description: "The amount's currency code"
                    $ref: "#/components/schemas/CountryCode"
                name:
                    description: "The purpose/usage of the payment token"
                    type: "string"
                    minLength: 1
                    example: "Donate For Children"
                description:
                    type: "string"
                    minLength: 1
                    example: "Help us protect children around the world"
                image:
                    description: "Base64 encoded string of an image"
                    type: "string"
                    format: "byte"
                amountIsFlexible:
                    description: "Indicator if shopper/customer is allowed to change amount"
                    type: "boolean"
                    example: true
                taxCategoryCode:
                    description: "Indicator if shopper/customer is allowed to change amount"
                    type: "string"
                    minLength: 1
                    example: "taxCategoryCode01"
                collectTaxAutomatically:
                    description: "Indicator if tax is calculated and collected automatically"
                    type: "boolean"
                    example: true
                includeTaxInPrice:
                    description: "Indicator if tax should be included in pricing"
                    type: "boolean"
                    example: true
                allowPromotionCodes:
                    description: "Indicator if shopper/customer is allowed to enter promotion codes"
                    type: "boolean"
                    example: true
                savePaymentDetails:
                    description: "Indicator if payment details shall be saved"
                    type: "boolean"
                    example: true
                requireCustomerPhoneNumber:
                    description: "Indicator if shopper/customer is required to enter phone number"
                    type: "boolean"
                    example: true
                requireCustomerBillingAddress:
                    description: "Indicator if shopper/customer is required to enter billing address"
                    type: "boolean"
                    example: true
                requireCustomerShippingAddress:
                    description: "Indicator if shopper/customer is required to enter shipping address"
                    type: "boolean"
                    example: true
                payButtonText:
                    description: "Text to be presented on the 'PAY' button"
                    type: "string"
                    enum:
                        - "PAY"
                        - "DONATE"
                        - "BOOK"
        PaymentTokenRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    paymentToken:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/PaymentTokenRecord"
                            - required:
                                - recordStatus
                                - identifier
                                - name
                                - description
                                - amount
                                - amountIsFlexible
                    merchant:
                        type: "object"
                        properties:
                            identifier:
                                type: "string"
                        required:
                            - identifier
                    url:
                        type: "object"
                        properties:
                            path:
                                description: "Full URL path with end point to initiate the payment process"
                                type: "string"
                                format: "uri"
                                example: "https://pay.example.com/paymentToken/payment_token_identifier"
                        required:
                            - path
                required:
                    - paymentToken
                    - url
        BillingAddress:
            allOf:
                - $ref: "#/components/schemas/BusinessPersonName"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/CCEmailAddress"
                - $ref: "#/components/schemas/PhoneNumber"
                - $ref: "#/components/schemas/MailingAddress"
        ShippingAddress:
            allOf:
                - $ref: "#/components/schemas/BusinessPersonName"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/PhoneNumber"
                - $ref: "#/components/schemas/MailingAddress"
        Locale:
            description: "One's preferred language and country code"
            type: "string"
            example: "en-US"
        TaxRecord:
            type: "object"
            properties:
                countryCode:
                    $ref: "#/components/schemas/CountryCode"
                type:
                    description: "The type of taxation of a territory of jurisdiction"
                    type: "string"
                    example: "VAT"
                identityNumber:
                    description: "The identity number of taxation for a business"
                    type: "string"
                    example: "<tax_id_number>"
            required:
                - countryCode
                - type
                - identityNumber
        CustomerRecord:
            allOf:
                - $ref: "#/components/schemas/BusinessPersonName"
                - $ref: "#/components/schemas/EmailAddress"
                - $ref: "#/components/schemas/PhoneNumber"
                - type: "object"
                  properties:
                    description:
                        description: "A brief desctiptive text about the customer"
                        type: "string"
                        minLength: 1
                        example: "Help us protect children around the world"
                    currencyCode:
                        $ref: "#/components/schemas/CountryCode"
                    image:
                        description: "Base64 encoded string of an image"
                        type: "string"
                        format: "byte"
                    locale:
                        $ref: "#/components/schemas/Locale"
                    timeZone:
                        type: "string"
                        example: "+08:00"
                    invoicePrefix:
                        description: "The prefix of customer invoice number"
                        type: "string"
                        minLength: 1
                        maxLength: 8
                        example: "SALE_INV"
                    nextInvoiceSequence:
                        description: "The number of next customer invoice"
                        type: "number"
                        minimum: 1
                        maximum: 99999
                        example: 1
                    taxStatus:
                        type: "string"
                        enum:
                            - "taxable"
                            - "exempt"
                            - "reverseCharge"
                    metadata:
                        type: "string"
                    totalNumberOfPayments:
                        description: "total number of payment made since created"
                        type: "number"
                    lastPaymentDate:
                        type: "string"
                        format: "date-time"
                    totalAmountSpent:
                        type: "number"
                    totalAmountRefunded:
                        type: "number"
                    totalAmountDisputeLost:
                        type: "number"
        CustomerRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    customer:
                        allOf:
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/CustomerRecord"
                    customerPaymentInstrument:
                        allOf:
                            - $ref: "#/components/schemas/EntityIdentifier"
                            - $ref: "#/components/schemas/CustomerPaymentInstrumentRecord"
                    merchant:
                        $ref: "#/components/schemas/MerchantIdentifier"
                    organization:
                        $ref: "#/components/schemas/OrganizationName"
        PaymentInstrumentRecord:
            allOf:
                - type: "object"
                  properties:
                    description:
                        description: "A brief desctiptive text about the payment instrument"
                        type: "string"
                        minLength: 1
                        example: "Help us protect children around the world"
                    currencyCode:
                        $ref: "#/components/schemas/CountryCode"
                    expiryDate:
                        type: "string"
                        format: "date"
                    lastExpiryDate:
                        type: "string"
                        format: "date"
                    branch:
                        type: "string"
                    status:
                        type: "string"
                    lastStatus:
                        type: "string"
                    issuanceSerial:
                        type: "number"
                    issuanceIndex:
                        type: "number"
                    issuanceCount:
                        type: "number"
                    issuanceSequence:
                        type: "number"
                    embossIndicator:
                        type: "string"
                    nextCycleDate:
                        type: "string"
                        format: "date"
                    availableBalanceAmount:
                        type: "number"
                    ledgerBalanceAmount:
                        type: "number"
                    onHoldDebitAmount:
                        type: "number"
                    onHoldCreditAmount:
                        type: "number"
                    totalAmountSpent:
                        type: "number"
                    totalFeeCharged:
                        type: "number"
                    cycleAmountSpent:
                        type: "number"
                    cycleFeeCharged:
                        type: "number"
                    appliedIndicator:
                        type: "string"
                - $ref: "#/components/schemas/paymentInstrument.autoTopup"
        PaymentInstrumentRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    paymentInstrument:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/CreateDateTime"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/paymentInstrument.identifier"
                            - $ref: "#/components/schemas/PaymentInstrumentRecord"
                    paymentInstrumentProduct:
                        $ref: "#/components/schemas/paymentInstrumentProduct.identifier"
                    paymentInstrumentFunding:
                        $ref: "#/components/schemas/paymentInstrumentFunding.identifier"
                    user:
                        $ref: "#/components/schemas/user.identifier"
                    merchant:
                        $ref: "#/components/schemas/attribute.merchant.identifier"
                    organization:
                        $ref: "#/components/schemas/attribute.organization.identifier"
        PaymentInstrumentProductRecord:
            type: "object"
            properties:
                name:
                    description: "An unique name of the payment instrument's product"
                    type: "string"
                    minLength: 1
                    example: "USD_wallet"
                type:
                    description: "Type of the payment instrument's product"
                    type: "string"
                    minLength: 1
                    example: "wallet"
                category:
                    type: "string"
                    example: "default"
                issuancePrefix:
                    type: "string"
                    example: "586070"
                currencyCode:
                    $ref: "#/components/schemas/CountryCode"
                startSequence:
                    type: "number"
                    example: 1
                expiryExpectancy:
                    type: "string"
                    example: "none"
                    enum:
                        - "none"
                        - "day"
                        - "month"
                        - "year"
                expiryLife:
                    type: "number"
                    example: 0
                cyclePeriod:
                    type: "number"
                    example: 0
                appliedIndicator:
                    type: "string"
                minimumScore:
                    type: "number"
                    example: 0
                kycDefaultMaximumBalance:
                    type: "number"
                    example: 100
                kycLevel1Score:
                    type: "number"
                kycLevel1MaximumBalance:
                    type: "number"
                kycLevel2Score:
                    type: "number"
                kycLevel2MaximumBalance:
                    type: "number"
                kycLevel3Score:
                    type: "number"
                kycLevel3MaximumBalance:
                    type: "number"
                kycLevel4Score:
                    type: "number"
                kycLevel4MaximumBalance:
                    type: "number"
                kycLevel5Score:
                    type: "number"
                kycLevel5MaximumBalance:
                    type: "number"
                productAmount1:
                    type: "number"
                productAmount2:
                    type: "number"
                productAmount3:
                    type: "number"
                productAmount4:
                    type: "number"
                productAmount5:
                    type: "number"
            required:
                - name
                - type
        PaymentInstrumentProductRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    paymentInstrumentProduct:
                        allOf:
                            - $ref: "#/components/schemas/RecordStatus"
                            - $ref: "#/components/schemas/CreateDateTime"
                            - $ref: "#/components/schemas/RecordDateTime"
                            - $ref: "#/components/schemas/paymentInstrumentProduct.identifier"
                            - $ref: "#/components/schemas/PaymentInstrumentProductRecord"
                    paymentInstrumentNumber:
                        $ref: "#/components/schemas/paymentInstrumentNumber.name"
                    paymentInstrumentSerial:
                        $ref: "#/components/schemas/paymentInstrumentSerial.name"
                    organization:
                        $ref: "#/components/schemas/attribute.organization.identifier"
        CustomerPaymentInstrumentRecord:
            type: "object"
            properties:
                description:
                    description: "payment instrument's name"
                    type: "string"
                    example: "John Smith"
                number:
                    description: "payment instrument's number"
                    type: "string"
                maskedNumber:
                    description: "masked payment instrument's number"
                    type: "string"
                expiryDate:
                    type: "string"
                    format: "date"
                type:
                    description: "payment instrument type"
                    type: "string"
                    example: "CREDIT_CARD"
                brand:
                    description: "payment instrument's brand"
                    type: "string"
                    example: "MASTERCARD"
                issuer:
                    description: "name of issuing bank"
                    type: "string"
                issuingCountryCode:
                    type: "integer"
                    format: "int32"
                cardVerificationValue:
                    type: "string"
                cardVerified:
                    type: "boolean"
                asDefault:
                    description: "indicate if a new payment instrument should be set as default instrument"
                    type: "boolean"
        CustomerPaymentInstrumentRecords:
            type: "array"
            items:
                type: "object"
                properties:
                    customerPaymentInstrument:
                        $ref: "#/components/schemas/CustomerPaymentInstrumentRecord"
                    customer:
                        allOf:
                            - $ref: "#/components/schemas/attribute.customer.identifier"
                            - required:
                                - identifier

        attribute.email.address:
            type: "object"
            properties:
                address:
                    description: "The plain text email address"
                    type: "string"
                    format: "email"
                    example: "john.smith@example.com"
        attribute.mobile.number:
            type: "object"
            properties:
                number:
                    description: "The plain text of formatted mobile phone number"
                    type: "string"
                    example: "+1 (555) 555-1234"
        email.address:
            type: "object"
            properties:
                email:
                    allOf:
                        - $ref: "#/components/schemas/attribute.email.address"
        mobile.number:
            type: "object"
            properties:
                mobile:
                    allOf:
                        - $ref: "#/components/schemas/attribute.mobile.number"
        attribute.user.name:
            type: "object"
            properties:
                name:
                    description: "The user's login name"
                    type: "string"
                    example: "john.smith"
        attribute.user.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an user"
                    type: "string"
                    example: "1"
        attribute.user.lastLoginTimestamp:
            type: "object"
            properties:
                lastLoginTimestamp:
                    description: "date & time of last login"
                    type: "string"
                    format: "date-time"
        attribute.user.lastFailedAuthenticateTimestamp:
            type: "object"
            properties:
                lastFailedAuthenticateTimestamp:
                    description: "date & time of last failed authentication"
                    type: "string"
                    format: "date-time"
        attribute.user.lastLoginLocation:
            type: "object"
            properties:
                lastLoginLocation:
                    description: "location of last login"
                    type: "string"
        attribute.user.lastFailedLoginLocation:
            type: "object"
            properties:
                lastLoginLocation:
                    description: "location of last failed login"
                    type: "string"
        attribute.user.lockoutPeriod:
            type: "object"
            properties:
                lockoutPeriod:
                    description: "date & time of lock out period"
                    type: "string"
                    format: "date-time"
        attribute.user.failedAuthenticateAttemptCount:
            type: "object"
            properties:
                failedAuthenticateAttemptCount:
                    description: "failed authentication attempt count"
                    type: "integer"
                    format: "int32"
        attribute.user.loginShell:
            type: "object"
            properties:
                loginShell:
                    description: "set the login shell for the user if user is allowed to sign in at the terminal. <shell> should the absolute path of the shell executable. The default is ‘/bin/bash’"
                    type: "string"
        attribute.user.loginShellArguments:
            type: "object"
            properties:
                loginShellArguments:
                    description: "the argument to supply to the login shell"
                    type: "string"
        attribute.user.serverLoginScriptPath:
            type: "object"
            properties:
                serverLoginScriptPath:
                    description: "the path of server login's script"
                    type: "string"
        attribute.user.homeDirectoryPath:
            type: "object"
            properties:
                homeDirectoryPath:
                    description: "the path of user's home directory on server"
                    type: "string"
        attribute.user.notificationOptInMap:
            type: "object"
            properties:
                notificationOptInMap:
                    description: "a comma separated list of notifications to which the user opts in or out of. Each comma separated item has the format “<OPT>’=’[in|out]. Where <OPT> names the notification options and ‘in’ means the user opts in to that notification and ‘out’ means the user opts out of that notification"
                    type: "string"
        attribute.user.restrictedDomain:
            type: "object"
            properties:
                restrictedDomain:
                    description: "the value for this option must name the organization to which this user belongs. This flag can only be supplied when a user record is being created and indicates if the user is a restricted user or not. If the user’s organization is marked restricted, the user will also be marked as restricted (and the value of this flag will be ignored)"
                    type: "string"
        attribute.user.preferName:
            type: "object"
            properties:
                preferName:
                    description: "user's prefer name"
                    type: "string"
        attribute.user.password:
            type: "object"
            properties:
                password:
                    description: "user's password for authentication"
                    type: "string"
                    example: "my password"
        attribute.user.newPassword:
            type: "object"
            properties:
                newPassword:
                    description: "set new password for new user account"
                    type: "string"
                    example: "my new password"
        attribute.user.firstTimePassword:
            type: "object"
            properties:
                firstTimePassword:
                    description: "this sets the password for a new account. The password is marked as temporary and one time use. If the request provides both the oneTimePassword and newPassword field, the newPassoword field is ignored. However, the oneTimePassword and firstTimePassword must not exist together"
                    type: "string"
                    example: "first time password"
        attribute.user.oneTimePassword:
            type: "object"
            properties:
                oneTimePassword:
                    description: "this sets the password for a new account. The password is marked as temporary and first time use. If the request provides both the firstTimePassword and newPassword field, the newPassoword field is ignored. However, the oneTimePassword and firstTimePassword must not exist together"
                    type: "string"
                    example: "one time password"
        attribute.user.passwordResetURL:
            type: "object"
            properties:
                passwordResetURL:
                    description: "the full URL path includes the system generated security string"
                    type: "string"
                    example: "https://sandbox.craniumventures.com/password/reset/token=abcdefghi1234567890"
        attribute.user.passwordResetToken:
            type: "object"
            properties:
                passwordResetToken:
                    description: "the system generated security string"
                    type: "string"
                    example: "abcdefghi1234567890"
        attribute.user.lastActivityTimestamp:
            type: "object"
            properties:
                lastActivityTimestamp:
                    description: "date & time of last activity"
                    type: "string"
                    format: "date-time"
        attribute.user.expirySeconds:
            type: "object"
            properties:
                expirySeconds:
                    description: "expiry in seconds"
                    type: "integer"
                    format: "int32"
                    example: 0
        attribute.user.activeSessions:
            type: "object"
            properties:
                activeSessions:
                    description: "total number of active sessions"
                    type: "integer"
                    format: "int32"
                    example: 5
        user.name:
            type: "object"
            properties:
                user:
                    allOf:
                        - $ref: "#/components/schemas/attribute.user.name"
                        - required:
                            - name
        user.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an user"
                    type: "string"
                    example: "1"
            required:
                - identifier
        attribute.mailingAddress.type:
            type: "object"
            properties:
                type:
                    description: "the type of mailing address"
                    type: "string"
                    enum:
                        - "correspondence"
                        - "billing"
                        - "shipping"
        attribute.mailingAddress.line1:
            type: "object"
            properties:
                line1:
                    description: "first line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "unit# and building name"
        attribute.mailingAddress.line2:
            type: "object"
            properties:
                line2:
                    description: "second line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "street name"
        attribute.mailingAddress.line3:
            type: "object"
            properties:
                line3:
                    description: "third line of mailing address"
                    type: "string"
                    minLength: 1
                    example: "name of town or village"
        attribute.mailingAddress.city:
            type: "object"
            properties:
                city:
                    description: "city name of mailing address"
                    type: "string"
                    minLength: 1
                    example: "Middle City"
        attribute.mailingAddress.provinceState:
            type: "object"
            properties:
                provinceState:
                    description: "province or state of mailing address"
                    type: "string"
                    minLength: 1
                    example: "Big State"
        attribute.mailingAddress.postalCode:
            type: "object"
            properties:
                postalCode:
                    description: "postal code of mailing address"
                    type: "string"
                    minLength: 1
                    example: "123456"
        mailingAddress.type:
            type: "object"
            properties:
                mailingAddress:
                    allOf:
                        - $ref: "#/components/schemas/attribute.mailingAddress.type"
                        - required:
                            - type
        attribute.customer.name:
            type: "object"
            properties:
                name:
                    description: "customer's name"
                    type: "string"
                    example: "customer name"
        attribute.merchant.identifier:
            type: "object"
            properties:
                identifier:
                    description: "an unique string to identify a merchant"
                    type: "string"
                    example: "<merchant_identifier>"
        attribute.merchant.categoryCode:
            type: "object"
            properties:
                categoryCode:
                    description: "the merchant's category code"
                    type: "string"
                    example: "6011"
        attribute.merchant.nameAndLocation:
            type: "object"
            properties:
                nameAndLocation:
                    description: "the merchant's name and location"
                    type: "string"
                    example: "PC21  Test Merchant      Newtwon SquPADE"
        attribute.merchant.parent:
            type: "object"
            properties:
                parent:
                    description: "the merchant parent's parameters to be used for this merchant"
                    type: "string"
                    maxLength: 25
        attribute.merchant.numberOfDevices:
            type: "object"
            properties:
                numberOfDevices:
                    description: "indicates the number of devices deployed to a merchant"
                    type: "integer"
                    maxLength: 0
        attribute.merchant.allowedCaptureMethods:
            type: "object"
            properties:
                allowedCaptureMethods:
                    description: "a vector with each byte representing a capture method; a 'y' or 'n' determines if we allow the capture method for the merchant"
                    type: "string"
                    maxLength: 25
                    example: "Y"
        attribute.merchant.flexibleCurrency:
            type: "object"
            properties:
                flexibleCurrency:
                    description: "indicates if the merchant is allowed to initiate a transaction with currency different than the default; In case of cross border processing, this flag must be turned on"
                    type: "boolean"
                    example: false
        attribute.merchant.crossBorder:
            type: "object"
            properties:
                crossBorder:
                    description: "indicates if the merchant is allowed to initiate transaction across country border"
                    type: "boolean"
                    example: false
        attribute.merchant.restrictedLocation:
            type: "object"
            properties:
                restrictedLocation:
                    description: "indicates if location restriction is imposed on the merchant"
                    type: "boolean"
                    example: false
        attribute.merchant.businessHourClose:
            type: "object"
            properties:
                businessHourClose:
                    description: "the time of day when the merchant's business is closed"
                    type: "string"
                    format: "time"
                    example: "19:00:00"
        attribute.merchant.allowedServices:
            type: "object"
            properties:
                allowedServices:
                    description: "the services does the merchant allow to perform"
                    type: "string"
                    maxLength: 50
        attribute.merchant.restrictedLatitude:
            type: "object"
            properties:
                restrictedLatitude:
                    description: "latitude of restricted location"
                    type: "number"
                    example: 3.1575
        attribute.merchant.restrictedLongitude:
            type: "object"
            properties:
                restrictedLongitude:
                    description: "longtitude of restricted location"
                    type: "number"
                    example: 101.711
        attribute.merchant.restrictedRadius:
            type: "object"
            properties:
                restrictedRadius:
                    description: "readius of restricted location"
                    type: "number"
                    example: 5
        attribute.merchant.effectiveTimestamp:
            type: "object"
            properties:
                effectiveTimestamp:
                    description: "timestamp of when a merchant becomes active"
                    type: "string"
                    format: "date-time"
        attribute.merchant.expiryTimestamp:
            type: "object"
            properties:
                expiryTimestamp:
                    description: "timestamp of when a merchant becomes inactive"
                    type: "string"
                    format: "date-time"
        merchant.identifier:
            type: "object"
            properties:
                merchant:
                    allOf:
                        - $ref: "#/components/schemas/attribute.merchant.identifier"
        attribute.business.preferName:
            type: "object"
            properties:
                preferName:
                    description: "a name of business"
                    type: "string"
                    example: "John Smith Ltd"
        attribute.business.otherName:
            type: "object"
            properties:
                otherName:
                    description: "an other name of business"
                    type: "string"
                    example: "John Smith"
        attribute.team.name:
            type: "object"
            properties:
                name:
                    description: "An unique name to identify a team; 'all' indicates retrieval of all records for query commands"
                    type: "string"
                    example: "systemAdministrators"
        team.name:
            type: "object"
            properties:
                team:
                    allOf:
                        - $ref: "#/components/schemas/attribute.team.name"
                        - required:
                            - name
        attribute.team.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify a team"
                    type: "string"
                    example: "<identifier>"
        team.identifier:
            type: "object"
            properties:
                team:
                    allOf:
                        - $ref: "#/components/schemas/attribute.team.identifier"
        attribute.organization.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an organization"
                    type: "string"
                    example: "1"
        attribute.organization.name:
            type: "object"
            properties:
                name:
                    description: "an unique name to identify an organization which name must not consists of spaces"
                    type: "string"
                    example: "john_smith_ltd"
        attribute.organization.preferName:
            type: "object"
            properties:
                preferName:
                    description: "a legal name of organization"
                    type: "string"
                    example: "John Smith Ltd"
        attribute.organization.externalIdentity:
            type: "object"
            properties:
                externalIdentity:
                    description: "an arbitrary value stored along with the organization record; the system does not interpret this value in anyway"
                    type: "string"
                    example: "external identity"
        organization.name:
            type: "object"
            properties:
                organization:
                    allOf:
                        - $ref: "#/components/schemas/attribute.organization.name"
                        - required:
                            - name
        organization.identifier:
            type: "object"
            properties:
                organization:
                    allOf:
                        - $ref: "#/components/schemas/attribute.organization.identifier"
        organization.preferName:
            type: "object"
            properties:
                organization:
                    allOf:
                        - $ref: "#/components/schemas/attribute.organization.preferName"
        paymentInstrumentNumber.name:
            type: "object"
            properties:
                name:
                    description: "An unique name to identify an payment instrument's number"
                    type: "string"
                    example: "unique_name"
            required:
                - name
        paymentInstrumentSerial.name:
            type: "object"
            properties:
                name:
                    description: "An unique name to identify an payment instrument's serial"
                    type: "string"
                    example: "unique_name"
            required:
                - name
        paymentInstrumentProduct.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an payment instrument product"
                    type: "string"
                    example: "1"
            required:
                - identifier
        paymentInstrumentFunding.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an payment instrument funding source"
                    type: "string"
                    example: "1"
            required:
                - identifier
        paymentInstrument.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify an payment instrument"
                    type: "string"
                    example: "1"
            required:
                - identifier
        paymentInstrument.autoTopup:
            type: "object"
            properties:
                autoTopupMode:
                    description: "This indicates how an instrument should be topup"
                    type: "string"
                    enum:
                        - "disable"
                        - "auto"
                        - "transactionAmountOnly"
                autoTopupAmount:
                    type: "number"
                autoTopupThresholdBalance:
                    type: "number"
        attribute.paymentInstrument.maskedNumber:
            type: "object"
            properties:
                maskedNumber:
                    description: "masked number of a payment instrument"
                    type: "string"
                    example: "************1234"
        attribute.paymentInstrument.cryptogram:
            type: "object"
            properties:
                cryptogram:
                    description: "cryptogram of a payment instrument"
                    type: "string"
                    example: "8623101673971233"
        attribute.paymentInstrument.fingerprint:
            type: "object"
            properties:
                fingerprint:
                    description: "finger print of a payment instrument"
                    type: "string"
                    example: "hP03HC0bta2WkHt4"
        attribute.paymentInstrument.expiryDateMMYY:
            type: "object"
            properties:
                expiryDateMMYY:
                    description: "expiry date (MMYY) of a payment instrument"
                    type: "string"
                    example: "1224"
        attribute.customer.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify a customer"
                    type: "string"
                    example: "1"
        customerPaymentInstrument.identifier:
            type: "object"
            properties:
                identifier:
                    description: "An unique number to identify a customer's payment instrument"
                    type: "string"
                    example: "1"
            required:
                - identifier
        accessRights.entities:
            oneOf:
                - $ref: "#/components/schemas/user.name"
                - $ref: "#/components/schemas/team.name"
                - $ref: "#/components/schemas/organization.name"
        attribute.accessRightsObject.name:
            type: "object"
            properties:
                name:
                    type: "string"
                    description: "name of the object which the rights are processed; 'all' indicates retrieval of all records for query commands"
                    example: "frog"
        accessRightsObject.name:
            type: "object"
            properties:
                accessRightsObject:
                    allOf:
                        - $ref: "#/components/schemas/attribute.accessRightsObject.name"
                        - required:
                            - name
        attribute.accessRightsObject.identifier:
            type: "object"
            properties:
                identifier:
                    type: "string"
                    description: "unique identifier of the object which the rights are processed"
                    example: "<identifier>"
        attribute.accessRightsObject.classification:
            type: "object"
            properties:
                classification:
                    type: "string"
                    description: "user defined classification of the object which the rights are processed"
                    example: "self-service"
        attribute.accessRightsObject.accessRightsActions:
            type: "object"
            description: "one or more actions"
            properties:
                accessRightsActions:
                    type: "object"
                    properties:
                        <replace_with_action_name>:
                            type: "boolean"
                            description: "name of an action; values are ignored during retrieval however 'true' would mean an action to be granted and 'false' would mean an action to be revoked"
        attribute.accessRightsAction.name:
            type: "object"
            properties:
                name:
                    type: "string"
                    description: "name of the object's action which the rights are processed"
                    example: "jump"
        accessRightsAction.name:
            type: "object"
            properties:
                accessRightsAction:
                    allOf:
                        - $ref: "#/components/schemas/attribute.accessRightsAction.name"
                        - required:
                            - name
        response.accessRightsObjects:
            type: "object"
            properties:
                accessRightsObjects:
                    type: "array"
                    items:
                        allOf:
                            - $ref: "#/components/schemas/generic.recordStatus"
                            - $ref: "#/components/schemas/generic.createTimestamp"
                            - $ref: "#/components/schemas/generic.recordTimestamp"
                            - $ref: "#/components/schemas/generic.rowId"
                            - $ref: "#/components/schemas/attribute.accessRightsObject.name"
                            - $ref: "#/components/schemas/attribute.accessRightsObject.identifier"
                            - $ref: "#/components/schemas/attribute.accessRightsObject.classification"
                            - $ref: "#/components/schemas/organization.identifier"
                            - required:
                                - name
                                - identifier
        response.accessRightsActions:
            type: "object"
            properties:
                accessRightsObjects:
                    type: "array"
                    items:
                        allOf:
                            - $ref: "#/components/schemas/attribute.accessRightsObject.name"
                            - $ref: "#/components/schemas/attribute.accessRightsObject.identifier"
                            - $ref: "#/components/schemas/attribute.accessRightsObject.accessRightsActions"
                            - required:
                                - name
                                - identifier
                                - accessRightsActions
        cursor.identifier:
            type: "object"
            properties:
                identifier:
                    description: "identifier used to uniquely identify a cursor created by the system"
                    type: "string"
                    minLength: 1
                    example: "<cursor_identifier>"
        cursor.creation:
            type: "object"
            properties:
                creation:
                    description: "should a cursor be created?"
                    type: "string"
                    enum:
                        - always
                        - auto
                        - never
        cursor.recordOffset:
            type: "object"
            properties:
                recordOffset:
                    description: "offset of the record to retrieve"
                    type: "integer"
                    format: "int32"
                    minimum: 0
                    example: 0
        cursor.recordCount:
            type: "object"
            properties:
                recordCount:
                    description: "number of records to be retrieved"
                    type: "integer"
                    format: "int32"
                    minimum: 1
                    example: 1
        cursor.totalRecords:
            type: "object"
            properties:
                totalRecords:
                    description: "total number of records a cursor holds"
                    type: "integer"
                    format: "int32"
                    example: 10
        cursor.recordIdentifier:
            type: "object"
            properties:
                recordIdentifier:
                    description: "record's identifier of a given cursor's context"
                    type: "string"
                    example: "1"
        generic.recordStatus:
            type: "object"
            properties:
                recordStatus:
                    description: "The current status/state of a record"
                    type: "string"
                    enum:
                        - active
                        - inactive
                        - suspense
                        - pendingApproval
                        - disable
                        - locked
                        - deleted
                        - noPassword
                    example: "active"
        generic.createTimestamp:
            type: "object"
            properties:
                createTimestamp:
                    description: "date & time of create of a record"
                    type: "string"
                    format: "date-time"
        generic.recordTimestamp:
            type: "object"
            properties:
                recordTimestamp:
                    description: "date & time of update of a record"
                    type: "string"
                    format: "date-time"
        generic.rowId:
            type: "object"
            properties:
                rowId:
                    description: "record's unique identifier"
                    type: "integer"
                    format: "int32"
                    example: 1
        attribute.rowId:
            type: "object"
            properties:
                rowId:
                    description: "record's unique identifier"
                    type: "integer"
                    format: "int32"
                    example: 1
        attribute.recordStatus:
            type: "object"
            properties:
                recordStatus:
                    description: "The current status/state of a record"
                    type: "string"
                    enum:
                        - active
                        - inactive
                        - suspense
                        - pendingApproval
                        - disable
                        - locked
                        - deleted
                        - noPassword
                    example: "active"
        attribute.createTimestamp:
            type: "object"
            properties:
                createTimestamp:
                    description: "date & time of create of a record"
                    type: "string"
                    format: "date-time"
        attribute.recordTimestamp:
            type: "object"
            properties:
                recordTimestamp:
                    description: "date & time of update of a record"
                    type: "string"
                    format: "date-time"
        attribute.nationalIdentityCard:
            type: "object"
            properties:
                nationalIdentityCard:
                    description: "the national registration identity card number"
                    type: "string"
        attribute.gender:
            type: "object"
            properties:
                gender:
                    type: "string"
                    enum:
                        - "male"
                        - "female"
        attribute.nationality:
            type: "object"
            properties:
                nationality:
                    description: "nationality of a person"
                    type: "string"
        attribute.race:
            type: "object"
            properties:
                race:
                    description: "social group of a person"
                    type: "string"
        attribute.birthdate:
            type: "object"
[...]
